
.ezd-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    &.one{
        grid-template-columns: repeat(1, 1fr);
    }
    &.two{
        grid-template-columns: repeat(2, 1fr);
        @media (max-width:600px){
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &.four{
        grid-template-columns: repeat(4, 1fr);
        @media (max-width:991px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width:600px){
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &.three{
        grid-template-columns: repeat(3, 1fr);
        @media (max-width:991px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width:600px){
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &.six{
        grid-template-columns: repeat(6, 1fr);
        @media (max-width:991px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width:600px){
            grid-template-columns: repeat(1, 1fr);
        }
    }
}



// columns css 
.ezd-grid-cols-12{
    grid-template-columns: repeat(12, minmax(0, 1fr));
}
.ezd-grid-column-full{
    grid-column: 1 / -1;
}
@media (min-width: 576px){
    .ezd-sm-col-4{
        grid-column: span 4 / span 4;
    }
    .ezd-sm-col-3{
        grid-column: span 3 / span 3;
    }
    .ezd-sm-col-6{
        grid-column: span 6 / span 6;
    }
    .ezd-sm-col-8{
        grid-column: span 8 / span 8;
    }
    .ezd-sm-col-2{
        grid-column: span 2 / span 2;
    }
}
@media (min-width: 768px){
    .ezd-md-col-4{
        grid-column: span 4 / span 4;
    }
    .ezd-md-col-3{
        grid-column: span 3 / span 3;
    }
    .ezd-md-col-6{
        grid-column: span 6 / span 6;
    }
    .ezd-md-col-8{
        grid-column: span 8 / span 8;
    }
    .ezd-md-col-2{
        grid-column: span 2 / span 2;
    }
}
@media (min-width: 992px){
    .ezd-lg-col-4{
        grid-column: span 4 / span 4;
    }
    .ezd-lg-col-3{
        grid-column: span 3 / span 3;
    }
    .ezd-lg-col-6{
        grid-column: span 6 / span 6;
    }
    .ezd-lg-col-8{
        grid-column: span 8 / span 8;
    }
    .ezd-lg-col-2{
        grid-column: span 2 / span 2;
    }
}



ul{
    padding-left: 0;
    list-style: none;
}
.tab-content{
    display: block;
}