// ezd grid columns css
.ezd-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;

  &.ezd-column-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  &.ezd-column-2 {
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &.ezd-column-4 {
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &.ezd-column-3 {
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &.ezd-column-5 {
    grid-template-columns: repeat(5, 1fr);
    @media (max-width: 991px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &.ezd-column-6 {
    grid-template-columns: repeat(6, 1fr);
    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}


// columns css 
.ezd-grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.ezd-grid-column-full {
  grid-column: 1 / -1;
}

@media (max-width: 991px) {
  [class^='ezd-lg-col'] {
    grid-column: 1 / -1;
  }
}

@media (min-width: 576px) {
  .ezd-sm-col-4 {
    grid-column: span 4 / span 4;
  }
  .ezd-sm-col-3 {
    grid-column: span 3 / span 3;
  }
  .ezd-sm-col-5 {
    grid-column: span 5 / span 5;
  }
  .ezd-sm-col-6 {
    grid-column: span 6 / span 6;
  }
  .ezd-sm-col-7 {
    grid-column: span 7 / span 7;
  }
  .ezd-sm-col-8 {
    grid-column: span 8 / span 8;
  }
  .ezd-sm-col-9 {
    grid-column: span 9 / span 9;
  }
  .ezd-sm-col-10 {
    grid-column: span 10 / span 10;
  }
  .ezd-sm-col-2 {
    grid-column: span 2 / span 2;
  }
  .ezd-sm-col-11 {
    grid-column: span 11 / span 11;
  }
  .ezd-sm-col-12 {
    grid-column: span 12 / span 12;
  }
}

@media (min-width: 768px) {
  .ezd-md-col-4 {
    grid-column: span 4 / span 4;
  }
  .ezd-md-col-3 {
    grid-column: span 3 / span 3;
  }
  .ezd-md-col-5 {
    grid-column: span 5 / span 5;
  }
  .ezd-md-col-6 {
    grid-column: span 6 / span 6;
  }
  .ezd-md-col-7 {
    grid-column: span 7 / span 7;
  }
  .ezd-md-col-8 {
    grid-column: span 8 / span 8;
  }
  .ezd-md-col-9 {
    grid-column: span 9 / span 9;
  }
  .ezd-md-col-10 {
    grid-column: span 10 / span 10;
  }
  .ezd-md-col-11 {
    grid-column: span 11 / span 11;
  }
  .ezd-md-col-12 {
    grid-column: span 12 / span 12;
  }
  .ezd-md-col-2 {
    grid-column: span 2 / span 2;
  }
}

@media (min-width: 992px) {
  .ezd-lg-col-4 {
    grid-column: span 4 / span 4;
  }
  .ezd-lg-col-3 {
    grid-column: span 3 / span 3;
  }
  .ezd-lg-col-5 {
    grid-column: span 5 / span 5;
  }
  .ezd-lg-col-6 {
    grid-column: span 6 / span 6;
  }
  .ezd-lg-col-8 {
    grid-column: span 8 / span 8;
  }
  .ezd-lg-col-7 {
    grid-column: span 7 / span 7;
  }
  .ezd-lg-col-9 {
    grid-column: span 9 / span 9;
  }
  .ezd-lg-col-10 {
    grid-column: span 10 / span 10;
  }
  .ezd-lg-col-11 {
    grid-column: span 11 / span 11;
  }
  .ezd-lg-col-12 {
    grid-column: span 12 / span 12;
  }
  .ezd-lg-col-2 {
    grid-column: span 2 / span 2;
  }
}

@media (min-width: 1200px) {
  .ezd-xl-col-4 {
    grid-column: span 4 / span 4;
  }
  .ezd-xl-col-3 {
    grid-column: span 3 / span 3;
  }
  .ezd-xl-col-5 {
    grid-column: span 5 / span 5;
  }
  .ezd-xl-col-6 {
    grid-column: span 6 / span 6;
  }
  .ezd-xl-col-8 {
    grid-column: span 8 / span 8;
  }
  .ezd-xl-col-7 {
    grid-column: span 7 / span 7;
  }
  .ezd-xl-col-9 {
    grid-column: span 9 / span 9;
  }
  .ezd-xl-col-10 {
    grid-column: span 10 / span 10;
  }
  .ezd-xl-col-11 {
    grid-column: span 11 / span 11;
  }
  .ezd-xl-col-12 {
    grid-column: span 12 / span 12;
  }
  .ezd-xl-col-2 {
    grid-column: span 2 / span 2;
  }
}

.list-unstyled {
  list-style: none !important;
}

.tab-content {
  display: block;
}

.ezd-custom-container.ezd-container {
  width: 100%;
  @media (min-width: 1300px) {
    max-width: 1240px;
  }
  @media (min-width: 1500px) {
    max-width: 1470px;
  }
}

.ezd-container {
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
}

.eazydocs_shortcode .ezd-container, .ezd-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal.is-visible {
  visibility: visible;
  display: block;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

@media (min-width: 576px) {
  .modal-dialog {
    margin: 1.75rem auto;
  }
}

/** === Utility Classes === **/
.ezd-d-flex {
  display: flex;
}

.ezd-circle {
  border-radius: 50% !important;
}

.ezd-align-items-center {
  align-items: center;
}

.ezd-align-items-start {
  align-items: start;
}

.ezd-align-items-end {
  align-items: end;
}

.ezd-justify-content-between {
  justify-content: space-between;
}

.ezd-justify-content-center {
  justify-content: center;
}

.ezd-justify-content-start {
  justify-content: start;
}

.position-relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.ezd-shadow-lg {
  box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, .175) !important;
}

/** === UI Elements === **/
.ezd-badge {
  background: rgba(175, 184, 193, 0.2);
  color: var(--black_800);
  font-size: 11px;
  padding: 3px 8px 0;
  border-radius: 3px;
  margin-right: 5px;
  display: inline-block;
  line-height: 1.45;
  vertical-align: middle;
  font-weight: 500;
  height: 20px;
  letter-spacing: 0.2px;
  margin-top: 5px;
}