a {
  text-decoration: none;
  color: var(--ezd_brand_color);
}

section {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 700;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: block;
}

.doc-scrollable {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-bottom: 15px;
  }
  table {
    margin-bottom: 25px;
  }
}

.col-md-offset-right-1,
.col-lg-offset-right-1 {
  margin-right: 8.33333333%;
}

.meta {
  color: var(--black_500);
  font-size: 14px;
  font-weight: 400;
}

.dot-sep .sep::before {
  content: "•";
  margin: 0 5px;
}