@media (max-width: 1680px) {
	.onepage_doc_area .doc_rightsidebar .bootstrap-select {
		width: 100% !important;
	}
}

@media (max-width: 991px) {
	.doc_right_mobile_menu .doc_rightsidebar {
		padding-bottom: 10px;
		padding-top: 30px;
		padding-left: 20px;
		overflow-y: visible;
		height: 100%;
		box-sizing: border-box;
	}

	.doc_right_mobile_menu .doc_rightsidebar.one-page-docs-right-sidebar{
		height: 100vh;
	}

	.doc_rightsidebar .pageSideSection::before {
		display: none;
	}

	.doc_rightsidebar .pageSideSection {
		padding-left: 0;
	}

	.doc_left_sidebarlist .ezd-scroll:not(.op-docs-sidebar) {
		padding-right: 0;
	}

	.doc_documentation_area {
		position: relative;
		overflow: hidden !important;
        z-index: 99;
	}

	.left-column .doc_left_sidebarlist {
		max-width: 330px;
		width: 330px;
		height: 100vh;
		left: -330px;
		position: absolute;
		z-index: 2;
		padding: 30px 20px;
		box-sizing: border-box;
		&.opened{
			z-index: 3;
		}
	}

	.doc_rightsidebar {
		max-width: 290px;
		width: 100%;
		position: absolute;
		right: -290px;
		height: auto;
		transition: all 0.5s;
		z-index: 2;
		top: 0;
		background: #fff;
		padding: 30px 15px 30px 0;
		&.opened{
			z-index: 3;
		}
	}

	.onepage_doc_area .documentation_body {
		padding-top: 70px;
	}

	.onepage_doc_area .doc_left_sidebarlist {
		padding: 0;
	}

	.onepage_doc_area .middle-content {
		padding: 60px 10px;
	}

	.nav-sidebar .nav-item {
		padding-right: 0;
	}

	.filter_form {
		margin-right: 0;
	}

	.nav-sidebar .nav-item .nav-link + .icon {
		right: 0;
	}

	.breadcrumb .breadcrumb-item:last-child,
	.left-sidebar-toggle {
		display: none;
	}

	.doc_left_sidebarlist .open_icon {
		display: block;
		right: -25px;
		left: auto;
	}

	.open_icon {
		display: block;
		left: -25px;
		right: auto;
		top: unset;
	}

	.shortcode_info {
		padding: 0 5px;
	}

	article#post {
		padding-bottom: 0;
	}

	.onepage_doc_area .container-fluid.pr-60 {
		padding-right: 15px;
		padding-left: 15px;
	}

	.eazydocs-comments-wrap {
		padding-bottom: 50px;
	}
}

@media (max-width: 767px) {
	/** === Right Sidebar === **/
	.open_icon {
		top: 40px;
	}
	.body_fixed .open_icon {
		top: 60px;
	}
	.doc_rightsidebar {
		background: var(--black_50);
		height: auto;
	}
	.doc_rightsidebar .pageSideSection::before {
		display: none;
	}
	.doc_rightsidebar .pageSideSection {
		margin-left: 0;
		padding-left: 0 !important;
		padding-right: 10px;
		overflow: auto;
		height: 100%;
	}
	.feedback_link .eazydocs-feedback-wrap {
		justify-content: center;
		margin-top: 20px;
	}
	#reading-progress-fill {
		height: 3px;
	}
	.page_breadcrumb .date {
		float: left;
		margin-top: 5px;
	}
	.contact_form .form-group,
	.help_form .modal-content .shortcode_title {
		margin-bottom: 10px;
	}
	.help_form {
		padding: 40px 15px 20px;
		margin: 0;
	}
	#eazydocs_feedback .close {
		top: -28px;
		right: 0;
	}
	.contact_form .form-group .form-control {
		height: 55px;
	}
}

@media (max-width: 576px) {
	.open_icon {
		width: 18px;
		left: -18px;
	}
	.doc_left_sidebarlist .open_icon {
		right: -18px;
	}
}

@media (max-width: 360px) {
	.left-column .doc_left_sidebarlist {
		max-width: 280px;
		width: 280px;
		left: -280px;
		padding: 30px 10px;
	}
}


@media (max-width: 1024px) {
	.container.custom_container {
		max-width: 990px;
	}
}


