.doc-post-content {
    padding: 60px 0 0 40px;
}

h1 {
    color: #1d2746;
}

.eazydocs-hide-print {
    display: none !important;
}

.eazydocs-search-wrapper li:first-child{
    display: none;
}
.eazydocs-search-wrapper li:nth-child(2)::before{
    display: none;
}

.eazydocs-breadcrumb-root-title li:nth-child(2){
    display: none;
}
.eazydocs-search-wrapper li:nth-child(2)::before{
    display: none;
}
#ezd-search-results.eazydocs-search-tree .doc-section, #ezd-search-results.eazydocs-search-tree {
    padding: 0;
    border: none;
}
#ezd-search-results.eazydocs-search-tree .doc-section {
    border-right: none;
    padding-left: 25px;
}
#ezd-search-results.eazydocs-search-tree .search-result-item {
    padding: 7px 15px;
    position: relative;
    border-bottom: 1px solid rgb(245 245 250);
    transition: .3s all;
    cursor: pointer;
}
#ezd-search-results.eazydocs-search-tree .search-result-item:last-child{
    border-bottom: none
}
#ezd-search-results.eazydocs-search-tree .search-result-item a{
    display: flex;
}
#ezd-search-results.eazydocs-search-tree .search-result-item img,
#ezd-search-results.eazydocs-search-tree .search-result-item svg.block.h-full.w-auto {
    position: absolute;
    top: 12px;
    margin: auto;
}
#ezd-search-results.eazydocs-search-tree .search-result-item svg.block.h-auto.w-16 {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
}
#ezd-search-results.eazydocs-search-tree .search-result-item:hover svg.block.h-auto.w-16{
    display: block;
}
#ezd-search-results.eazydocs-search-tree .search-result-item:hover {
    background: var(--ezd_brand_color);
}
#ezd-search-results.eazydocs-search-tree .search-result-item:hover  .breadcrumb-item{
    color:white
}


#ezd-search-results.eazydocs-search-tree .search-result-item:hover a{
    color:white
}
.eazydocs-breadcrumb-root-title li.breadcrumb-item {
    color: rgb(119 122 175) !important;
    background: rgb(245 245 250);
    width: 100%;
    padding: 5px 15px !important;
}
#ezd-search-results .breadcrumb .breadcrumb-item{
    padding-left: 0;
}

ol.eazydocs-search-wrapper .breadcrumb .breadcrumb-item:first-child{
    display: none;
}
#ezd-search-results .breadcrumb.eazydocs-search-wrapper{
    padding-left: 25px;
}
