/** === setup wizard === **/
.ezd-setup-wizard-wrapper {
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .03);
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0px 16px 0;
  margin: -10px -20px 0 -22px;
  align-items: center;

  .ezd-setup-wizard-header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    span {
      font-size: 17px;
      font-weight: 500;
      margin: 0;
    }

    img {
      max-width: 27px;
    }

    div {
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        a {
          text-decoration: none;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: .5px;
          outline: none;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}

#ezd-setup-wizard-wrap {
  width: 60%;
  margin: 60px auto 0;
  padding: 0 0 50px;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  position: relative;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 1px rgb(170 170 170 / 4%);
  background: #fff;
  overflow: hidden;

  .notice, .fs-notice,
  .sw-toolbar {
    display: none !important;
  }

  .ezd-wizard-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);

    .ezd-wizard-head-left {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 0 15px;
      padding: 8px 0;

      span {
        font-size: 14px;
        margin: 0;
      }

      img {
        max-width: 27px;
      }
    }

    .ezd-wizard-head-right {
      border-inline-start: 1px solid #eee;
      font-size: 16px;
      color: inherit;
      padding: 15px;
      box-sizing: border-box;

      a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        outline: none;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }

  .tab-content {
    min-height: 610px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .tab-pane {

      .button-inline {
        margin-top: 20px;

        .button {
          padding: 5px 20px;
          display: inline-flex;
          gap: 5px;
          align-items: center;
        }
      }

      &#step-4 {
        padding: 20px;
        h2 {
          margin-bottom: 30px;
        }

        p {
          margin-top: 20px;
        }

        ul {
          &.ezd-plugins-wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
            @media screen and (max-width: 991px) {
              display: flow;
            }

            li {
              flex: 1;
              border: 1px solid #c7c7c7;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              align-items: end;
              padding: 25px 0 0;

              img {
                max-width: 50px;
                height: auto;
                margin: 0;
                border-radius: 3px;
              }

              h2 {
                margin: 10px 0 5px;
                display: block;
                font-size: 20px;
                font-weight: 500;
              }

              p {
                font-size: 14px;
                display: block;
                min-height: 60px;
              }

              .has-light-bg {
                background: linear-gradient(179deg, #ffffff, rgba(207, 207, 207, 0.5294117647));
                margin: 0;
                padding: 0 15px;
                width: 100%;

                &.action-btn-wrap {
                  display: flex;
                  justify-content: space-between;
                  padding: 10px;
                  font-size: 14px;
                  align-items: center;

                  .right-btns {
                    display: flex;
                    gap: 10px;
                    justify-content: right;

                    a.button-info {
                      display: flex;
                      align-items: center;
                      gap: 3px;
                      color: #007FFF;
                      border-color: #d0d0d0;
                    }
                  }

                  button {
                    background: transparent;
                    cursor: pointer;
                    color: black;
                    border: 1px solid;
                    padding: 6px 12px;
                    border-radius: 3px;

                    &.button-action {
                      background: #007FFF;
                      color: white !important;
                      border: none;
                      transition: all 0.3s;

                      &:hover {
                        background: #002D62 !important;
                      }
                    }

                    &:disabled {
                      color: #787878 !important;
                      cursor: not-allowed;
                    }
                  }
                }
              }
            }
          }
        }
      }

      h2 {
        font-size: 22px;
        margin-top: 36px;

        &:first-child {
          margin-top: 0;
        }
      }

      &#step-1 {
        h2 {
          font-size: 2em;
          margin-top: -10px;
        }

        iframe {
          box-shadow: 10px 10px 20px rgba(0, 0, 0, .15);
        }
      }

      p {
        font-size: 15px;
        margin-bottom: 25px;
      }

      button#finish-btn {
        position: absolute;
        bottom: 10px;
        z-index: 99999;
        right: 10px;
        padding: 10px 20px;
        background: #005ccb;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        font-size: 16px;
        font-weight: bold;
        color: white;
        border: none;
        margin: 0 10px;
      }
    }

    .archive-page-selection-wrap {
      text-align: center;

      select {
        display: block;
        text-align: center;
        margin: 0 auto 12px;
        border: 1px solid black;
        border-radius: 4px;
        padding: 3px 15px;
        outline: none;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      span {
        font-size: 13px;
        display: block;
        margin-bottom: 10px;
        color: brown;
      }
    }

    .root-slug-wrap {
      // input checkbox style
      > input[type="radio"] {
        visibility: hidden;
      }

      > label {
        padding: 10px 20px;
        background: #c0c0c0;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        display: inline-flex;
        align-items: center;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: bold;
        color: white;

        &:hover {
          background: #00b16e;
        }

        &.active {
          background: #00b16e;
        }
      }

      > input.custom-slug-field {
        border-radius: 5px;
        display: none;
        margin-left: 15px;
        height: 36px;
        outline: 1px solid #00b16e;
        border-color: #00b16e;

        &.active {
          display: inline-block;
        }
      }
    }

    .page-width-wrap {
      // input checkbox style
      > input[type="radio"] {
        visibility: hidden;
      }

      > label {
        padding: 10px 20px;
        background: #c0c0c0;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        display: inline-flex;
        align-items: center;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: bold;
        color: white;

        &:hover {
          background: #00b16e;
        }

        &.active {
          background: #00b16e;
        }
      }
    }

    .page-layout-wrap {
      > input {
        visibility: hidden;
      }

      > label {
        cursor: pointer;
        transition: all 0.3s;
        display: inline-flex;
        align-items: center;
        opacity: 0.3;

        &:hover {
          opacity: 1;
        }

        &.active {
          opacity: 1;
        }

        > img {
          max-width: 120px;
        }
      }
    }
  }

  .toolbar-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    padding: 10px;
    background: #fbfbfb;

    @media screen and (max-width: 767px) {
      position: unset;
      display: block;
    }

    button {
      background: #005ccb;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s;
      font-size: 16px;
      font-weight: bold;
      color: white;
      border: none;
      margin: 0 10px;
      line-height: normal;
      padding: 10px;
      box-sizing: border-box;

      &.sw-btn-prev {
        background: transparent;
        color: #005ccb;
        border: 1px solid #005ccb;

        &:hover {
          background: #005ccb;
          color: white;
        }
      }

      &:hover {
        background: #00326e;
      }

      &.disabled {
        display: none;
      }
    }
  }
}

button#ezd-install-selected-plugins {
  position: absolute;
  display: none;
  bottom: 10px;
  right: 20px;
  z-index: 1;
  height: auto;
  padding: 9px;
  background: #005ccb;
  min-width: 150px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  box-sizing: border-box;
  margin: 0;

  &:hover {
    background: #00326e;
  }

  @media screen and (max-width: 767px) {
    left: 0;
    right: 0;
    min-width: auto;
    max-width: max-content;
    margin: auto;
  }
}