@import 'frontend/variables';
@import 'frontend/predefine';
@import 'frontend/search_banner';
@import 'frontend/doclist';
@import 'frontend/widget_docs';
@import 'frontend/framework.scss';

.modal-content .shortcode_info .row {
  margin-top: 20px;
}

/** === Comments === **/
.eazydocs-comments-wrap {
  padding-bottom: 100px;
  padding-top: 60px;
}

.full-width-doc .eazydocs-comments-wrap {
  padding-bottom: 100px;
}

.full-width-doc .eazydocs-comments-wrap #comments {
  padding: 0 15px;
}

p .footnotes-link {
  color: var(--ezd_brand_color) !important;
}

p .footnotes-link::after {
  display: none;
}

.eazydocs-comments-wrap .blog_comment_box.no_comments {
  padding-top: 40px;
}

.doc_left_sidebarlist h2.doc-title {
  font-size: 24px;
  font-weight: 500;
  padding-right: 10px;
}

.page-template-page-onepage #post {
  max-width: 1140px;
  margin: 0 auto;
}

.nav-sidebar .nav-item .dropdown_nav ul {
  padding-left: 10px !important;
}

.nav-sidebar .nav-item .dropdown_nav {
  .nav-item {
    span.icon {
      display: flex;
    }
    .dropdown_nav {
      display: none !important;
      transition: .3s all;
    }
    &.active .dropdown_nav {
      display: block !important;
    }
  }
}

// Doc Filter form
.filter_form {
  margin-bottom: 30px;
  margin-right: 30px;
  padding: 0 5px 0 0;
  position: relative;
  input, input[type=search] {
    border: 1px solid var(--black_50) !important;
    width: 100%;
    padding: 3px 18px;
    outline: none;
    margin: 0;
    font-size: 12px;
    line-height: 30px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    background: var(--black_50);
    color: var(--black_800) !important;
    &:focus {
      outline: thin dotted;
      background-color: #fff;
    }
    &::placeholder {
      color: var(--black_400)
    }
  }
  .filter_no_result {
    display: none;
    font-weight: 400;
    color: var(--black_500);
    font-size: 14px;
    margin-top: 5px;
  }
}

.left-sidebar-toggle {
  position: absolute;
  top: 80px;
  color: #656565;
  line-height: 22px;
  cursor: pointer;
  height: 24px;
  text-align: left;
  z-index: 1;
  font-size: 0.95rem;
  margin-left: -90px;
  .left-arrow {
    display: block;
    border: #e8e8e8 solid 1px;
    border-radius: 20px;
    background: #fafafa;
    padding: 3px 8px 0 3.5px;
    height: 24px;
    transition: padding .2s;
    font-size: 16px;
    &:hover {
      color: #ffffff;
      background: var(--ezd_brand_color);
      border-color: var(--ezd_brand_color);
      padding: 3px 16px 0 3.5px;
    }
  }
  .right-arrow {
    display: none;
    border: #e8e8e8 solid 1px;
    border-radius: 20px;
    background: #fafafa;
    padding: 3px 7.5px 3px 9px;
    height: 24px;
    transition: padding .2s;
    font-size: 16px;
    &:hover {
      color: #ffffff;
      background: var(--ezd_brand_color);
      border-color: var(--ezd_brand_color);
      padding: 3px 8px 3px 16px;
    }
  }
}

.single-docs .doc_documentation_full_area .doc_rightsidebar {
  width: 100%;
}

.opened .open_icon {
  i {
    display: none;
    + i {
      display: block;
    }
  }
}

.article_list {
  padding: 0 0 0 20px;
  margin: 0;
  list-style: none !important;
  li {
    margin: 15px 0 0 0;
    padding: 0;
    ul.children {
      list-style: none;
      padding-left: 28px;
      margin: 0;
      li {
        a::before {
          content: "=";
          padding-right: 10px;
        }
      }
    }
    a {
      font-size: 15px;
      color: var(--p_color);
      line-height: 22px;
      transition: color 0.2s linear;
      display: flex;
      align-items: baseline;
      text-decoration: none !important;
      &:before{
        content: "\68";
        font-family: 'ElegantIcons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        padding-right: 15px;
      }
      i {
        margin-right: 15px;
      }

      &:hover {
        color: var(--ezd_brand_color);
      }
    }
  }
}

.topic_list_item ul li:last-child {
  margin-bottom: 0;
}

.body_fixed {
  .left-sidebar-toggle {
    position: fixed;
  }
}

.nav-sidebar .nav-item.no_icon.active .nav-link img+img {
  display: inline;
}

.load-more {
  &:hover {
    cursor: pointer;
    color: var(--ezd_brand_color);
    text-decoration: underline;
  }
  ion-icon {
    margin-bottom: -2px;
  }
}

.doc-meta {
  font-size: 14px;
  color: var(--black_500);
  position: relative;
  z-index: 1;
  ion-icon {
    margin-bottom: -2px;
  }
  .views {
    margin-left: 10px;
  }
}

.nav-sidebar .nav-item.no_icon.active .nav-link img,
.nav-sidebar .nav-item.no_icon .nav-link img.open {
  display: none;
}

.nav-sidebar .nav-item.no_icon.active .nav-link img.open {
  display: block;
}

.fadeGradient {
  position: relative;
  height: 50px;
  margin-top: -50px;
  overflow-x: hidden;
  background: -moz-linear-gradient(
                  bottom,
                  rgb(255, 255, 255) 15%,
                  rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
                  bottom,
                  rgb(255,255,255) 15%,
                  rgba(255, 255, 255, 0) 100%
  );
  background: -o-linear-gradient(
                  bottom,
                  rgb(255,255,255) 15%,
                  rgba(255, 255, 255, 0) 100%
  );
  background: -ms-linear-gradient(
                  bottom,
                  rgb(255,255,255) 15%,
                  rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
                  startColorstr='#03ffffff',
                  endColorstr='#ffffff', GradientType=0
  );
  background: linear-gradient(
                  bottom,
                  rgb(255, 255, 255) 15%,
                  rgba(255, 255, 255, 0) 100%
  );
  display: block;
}

.doc-scrollable {
  img{
    max-width:100%;
    height: auto;
  }
  ul, ol {
    padding-left: 20px;
    margin: 10px 0;
  }
  ul {
      list-style: disc;
  }
}

.border_bottom {
  width: 100%;
  height: 1px;
  background: #e8f0f1;
}

.section.eazydocx-credit-text{
    margin-bottom: 0;
    padding-top: 30px;
    background: #fafcfc;
    padding-bottom: 30px;
}

#post {
  h2, h3, h4 {
    font-weight: 500;
    margin-bottom: 20px;
    padding-top: 80px;
    margin-top: -80px;
  }
}

.single-docs #post {
  h2 {
    font-weight: 600;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.3em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: .8em;
  }
  h2,h3,h4,h5,h6{
    color: #0c0d0e;
  }
  p{
    font-weight: 400;
    margin-top: 0;
    line-height: 28px;
    color: #2D3748;
  }
}
.form-control{
  width: 100%;
}

.anchor-enabled h2 {
  padding-top: 80px;
  margin-top: -80px;
  color: #0c0d0e;
}

.toggle_btn {
  margin-top: .25rem !important;
}

.doc_tag .nav-item .nav-link {
  letter-spacing: .5px;
}

.doc_documentation_area {
  padding: 0;
  margin: 0 !important;
}

.eazydocx-credit-text {
  p {
    font-size: 14px;
    color: var(--black_400);
  }
}
body:not(.woocommerce-page) button:not([class^="fl-"]):not(.hestia-scroll-to-top):not(.navbar-toggle):not(.close){
  box-shadow: none;
}

/** === Popular Themes Support === **/
body.single-docs {
  .container.grid-container,
  .site-content, .col-full,
  #main .fusion-row,
  .site-content .ast-container {
    display: block;
    padding: 0;
    max-width: 100%;
  }
  &.theme-Avada main#main {
    padding: 0;
  }
  &.oceanwp-theme .page-header {
    display: none;
  }
  #main .doc_left_sidebarlist h2.doc-title {
    margin-bottom: 25px;
  }
}


// select css 

.bootstrap-select.open > .dropdown-menu{
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	-webkit-transform: scale(1) translateY(0);
	-ms-transform: scale(1) translateY(0);
	transform: scale(1) translateY(0);
}
.bootstrap-select > .dropdown-menu{
	opacity: 0;
	max-height: 330px !important;
	visibility: hidden;
	overflow: hidden;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform: scale(0.85) translateY(-5px);
	-ms-transform: scale(0.85) translateY(-5px);
	transform: scale(0.85) translateY(-5px);
	-webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
	transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
}

.contribut-btns{
  flex-wrap: wrap;
}
@media (max-width:1440px){
  .contribut-btns a{
    margin-bottom: 3px;
  }
}
