/*
EazyDocs Footnotes
*/
.ezd-footnote-footer {
  display: flex;
  flex-wrap: wrap;

  /* Styling based on data-column value */
  &[data-column="1"] {
    > div {
      flex: 1 1 100%;
    }
  }

  &[data-column="2"] {
    > div {
      flex: 1 1 50%;
    }
  }

  &[data-column="3"] {
    > div {
      flex: 1 1 33.33%;
    }
  }

  &[data-column="4"] {
    > div {
      flex: 1 1 25%;
    }
  }

  /* Adjust for smaller screens (responsive design) */
  @media (max-width: 768px) {
    > div {
      flex: 1 1 100%;
    }
  }

  div {
    display: flex;
    break-inside: avoid;
    word-break: break-all;
    position: relative;
    padding: 5px;
    font-size: 14px;
    gap: 5px;
    align-items: baseline;
    scroll-margin-top: 100px;
    box-sizing: border-box;

    .ezd-note-indicator {
      text-decoration: none;
      svg {
        position: relative;
        top: -5px;
      }
    }

    &.ezd-footnote-texts {
      display: block;

      b, strong {
        font-weight: bold;
        font-size: 14px;
        color: #1d2746;
        padding-top: 0;
        margin-bottom: 8px;
        display: block;
      }

      img {
        display: block;
      }
    }

    .ezd-footnotes-serial {
      width: max-content;
    }

    .ezd-footnote-texts {
      h2 {
        display: block;
      }

      &:first-letter {
        text-transform: capitalize;
      }
    }

    &:target {
      outline: none;
      background-color: var(--ezd-color-10);
      padding: 5px 10px;
      border-radius: 4px;
      margin: 0;
    }

    &:target {
      strong {
        color: var(--ezd_brand_color);
      }
    }

    a {
      word-break: break-all;
      &:hover {
        text-decoration-thickness: 1px;
      }
    }
  }
  
  img {
    margin: 5px 0;
  }

  &.mt-30 {
    margin-top: 30px;
  }

  &.collapsed {
    display: none;
  }
}

.ezd-footnotes-link-item {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  text-decoration: none !important;
  display: inline-block;

  > i {
    font-style: normal;
    color: var(--ezd_brand_color);
    cursor: pointer;
    position: relative;
    top: -5px;
  }

  span.ezd-footnote-content {
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 100%;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    display: inline-block;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    word-break: break-all;
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
    width: 300px;
    background: var(--bs-white);
    color: var(--black_800);
    box-shadow: 0 30px 90px -20px rgba(0, 0, 0, 0.3), 0 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 0;
    transform: translate(-54%, 0%);
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    padding: 25px;
    box-sizing: border-box;

    b, strong {
      font-weight: bold;
      font-size: 14px;
      color: #1d2746;
      padding-top: 0;
      margin-bottom: 8px;
      display: block;
    }

    img {
      margin: 10px 0;
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      top: -6px;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-top: 7px solid transparent;
      transform: rotate(224deg);
      box-shadow: 1px 1px 0 rgb(110 108 108 / 25%);
      background: var(--bs-white);
      border-top-right-radius: 2px;
    }

    a {
      text-decoration: none;
      color: var(--ezd_brand_color);

      &:hover {
        text-decoration: none;
      }
    }
  }

  .ezd-footnote-content {
    input {
      max-width: 100%;
    }
  }

  &:hover {
    span.ezd-footnote-content {
      z-index: 9;
      opacity: 1;
      transition: all 1s ease;
    }
  }

  &:target i {
    border: 2px solid var(--ezd_brand_color);
    outline-offset: 0;
    letter-spacing: -.5px;
    padding: 0 0 1px 2px;
  }
}

.ezd-footnote-title {
  display: none;
  font-size: 20px;
  margin: 40px 0 10px;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  align-items: center;

  .cite-count {
    font-size: 14px;
  }

  span {
    display: inline-flex;
    align-items: center;

    i {
      font-size: 31px;
      margin: -5px 0 0 -8px;
    }

    &.ezd-plus-minus {
      margin-right: 6px;
    }

  }

  &.collapsed {
    span {
      i {
        &.icon_minus-box {
          display: none;
        }

        &.icon_plus-box {
          display: block;
        }
      }

    }
  }

  &.expanded {
    span {
      i {
        &.icon_minus-box {
          display: block;
        }

        &.icon_plus-box {
          display: none;
        }
      }
    }
  }
}

/* Sign in form [ private doc ] */

.ezd-login-head {
  border: 1px solid var(--ezd_brand_color);
  border-radius: 3px;
  overflow: hidden;
  padding: 0;
  margin: 0 0 8px;
  background: #fff;
  color: black;
  line-height: normal;

  .ezd-login-head-icon {
    background: var(--ezd_brand_color);
    display: inline-block;
    color: white;
    width: 35px;
    text-align: center;
    height: 35px;
    vertical-align: middle;
    padding-top: 5px;
    margin-right: 5px;
  }

  .ezd-login-head-icon .fa {
    font-size: initial;
    margin: 5px;
  }

}

.ezd-login-form-wrap {
  text-align: center;
  background: #fff;

  > form {
    display: grid;

    input[type="text"],
    input[type="password"] {
      display: block;
      border: 1px solid #c3c3c3;
      font-size: 14px;
      padding: 8px 8px;
      width: 100%;
      line-height: 16px;
      margin: 0 auto 10px;
      border-radius: 0;

      &:focus {
        border-color: #c3c3c3;

        &::placeholder {
          opacity: .5;
        }
      }
    }

    input[type="submit"] {
      background-color: var(--ezd_brand_color);
      border: 1px solid var(--ezd_brand_color);
      font-size: 14px;
      margin-bottom: 8px;
      margin-top: 5px;
      color: white;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 8px 8px;
      width: 100%;
      box-shadow: none;
      cursor: pointer;
    }
  }

  p {
    font-size: 18px;
    line-height: 22px;
    padding: 18px 0 0;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
    color: black;
  }

  a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.ezd-login-error {
  font-size: 14px;
  margin: 8px 0 0;
}

.ezd-login-error strong {
  color: #bc0000;
}

@media screen and (max-width: 768px) {
  .ezd_doc_login_form {
    width: 80%;
  }

  .ezd-login-form-wrap input {
    width: 90%;
  }
}

@media screen and (max-width: 580px) {
  .ezd-login-form-wrap {
    padding: 10%;
  }

  .ezd_doc_login_form {
    width: 95%;
  }

  .ezd-login-form-wrap input {
    width: 100%;
  }
}

/*# sourceMappingURL=ezd-pro-footnotes.css.map */