/** === setup wizard === **/
.ezd-setup-wizard-wrapper {
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.03);
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0px 16px 0;
  margin: -10px -20px 0 -22px;
  align-items: center;
}
.ezd-setup-wizard-wrapper .ezd-setup-wizard-header {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.ezd-setup-wizard-wrapper .ezd-setup-wizard-header span {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
}
.ezd-setup-wizard-wrapper .ezd-setup-wizard-header img {
  max-width: 27px;
}
.ezd-setup-wizard-wrapper .ezd-setup-wizard-header div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.ezd-setup-wizard-wrapper .ezd-setup-wizard-header div span a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  outline: none;
}
.ezd-setup-wizard-wrapper .ezd-setup-wizard-header div span a:focus {
  outline: none;
  box-shadow: none;
}

#ezd-setup-wizard-wrap {
  width: 60%;
  margin: 60px auto 0;
  padding: 0 0 50px;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  position: relative;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 1px rgba(170, 170, 170, 0.04);
  background: #fff;
  overflow: hidden;
}
#ezd-setup-wizard-wrap .notice, #ezd-setup-wizard-wrap .fs-notice,
#ezd-setup-wizard-wrap .sw-toolbar {
  display: none !important;
}
#ezd-setup-wizard-wrap .ezd-wizard-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
#ezd-setup-wizard-wrap .ezd-wizard-head .ezd-wizard-head-left {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 15px;
  padding: 8px 0;
}
#ezd-setup-wizard-wrap .ezd-wizard-head .ezd-wizard-head-left span {
  font-size: 14px;
  margin: 0;
}
#ezd-setup-wizard-wrap .ezd-wizard-head .ezd-wizard-head-left img {
  max-width: 27px;
}
#ezd-setup-wizard-wrap .ezd-wizard-head .ezd-wizard-head-right {
  border-inline-start: 1px solid #eee;
  font-size: 16px;
  color: inherit;
  padding: 15px;
  box-sizing: border-box;
}
#ezd-setup-wizard-wrap .ezd-wizard-head .ezd-wizard-head-right a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  outline: none;
}
#ezd-setup-wizard-wrap .ezd-wizard-head .ezd-wizard-head-right a:focus {
  outline: none;
  box-shadow: none;
}
#ezd-setup-wizard-wrap .tab-content {
  min-height: 610px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 {
  padding: 20px;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 h2 {
  margin-bottom: 30px;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 p {
  margin-top: 20px;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 ul.ezd-plugins-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
@media screen and (max-width: 991px) {
  #ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 ul.ezd-plugins-wrap {
    display: flow;
  }
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 ul.ezd-plugins-wrap li {
  flex: 1;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: end;
  padding: 25px 0 0;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 ul.ezd-plugins-wrap li img {
  max-width: 50px;
  height: auto;
  margin: 0;
  border-radius: 3px;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 ul.ezd-plugins-wrap li h2 {
  margin: 10px 0 5px;
  display: block;
  font-size: 20px;
  font-weight: 500;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 ul.ezd-plugins-wrap li p {
  font-size: 14px;
  display: block;
  min-height: 60px;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 ul.ezd-plugins-wrap li .has-light-bg {
  background: linear-gradient(179deg, #ffffff, rgba(207, 207, 207, 0.5294117647));
  margin: 0;
  padding: 0 15px;
  width: 100%;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 ul.ezd-plugins-wrap li .has-light-bg.action-btn-wrap {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  align-items: center;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 ul.ezd-plugins-wrap li .has-light-bg.action-btn-wrap .right-btns {
  display: flex;
  gap: 10px;
  justify-content: right;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 ul.ezd-plugins-wrap li .has-light-bg.action-btn-wrap .right-btns a.button-info {
  display: flex;
  align-items: center;
  gap: 3px;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 ul.ezd-plugins-wrap li .has-light-bg.action-btn-wrap button {
  background: transparent;
  cursor: pointer;
  color: black;
  border: 1px solid;
  padding: 6px 12px;
  border-radius: 3px;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 ul.ezd-plugins-wrap li .has-light-bg.action-btn-wrap button.button-action {
  background: #007FFF;
  color: white !important;
  border: none;
  transition: all 0.3s;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 ul.ezd-plugins-wrap li .has-light-bg.action-btn-wrap button.button-action:hover {
  background: #002D62 !important;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-4 ul.ezd-plugins-wrap li .has-light-bg.action-btn-wrap button:disabled {
  color: #787878 !important;
  cursor: not-allowed;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane h2 {
  font-size: 22px;
  margin-top: 36px;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane h2:first-child {
  margin-top: 0;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-1 h2 {
  font-size: 2em;
  margin-top: -10px;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane#step-1 iframe {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
}
#ezd-setup-wizard-wrap .tab-content .tab-pane p {
  font-size: 15px;
  margin-bottom: 25px;
}
#ezd-setup-wizard-wrap .tab-content .tab-pane button#finish-btn {
  position: absolute;
  bottom: 10px;
  z-index: 99999;
  right: 10px;
  padding: 10px 20px;
  background: #005ccb;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  margin: 0 10px;
}
#ezd-setup-wizard-wrap .tab-content .archive-page-selection-wrap {
  text-align: center;
}
#ezd-setup-wizard-wrap .tab-content .archive-page-selection-wrap select {
  display: block;
  text-align: center;
  margin: 0 auto 12px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px 15px;
  outline: none;
}
#ezd-setup-wizard-wrap .tab-content .archive-page-selection-wrap select:focus {
  outline: none;
  box-shadow: none;
}
#ezd-setup-wizard-wrap .tab-content .archive-page-selection-wrap span {
  font-size: 13px;
  display: block;
  margin-bottom: 10px;
  color: brown;
}
#ezd-setup-wizard-wrap .tab-content .root-slug-wrap > input[type=radio] {
  visibility: hidden;
}
#ezd-setup-wizard-wrap .tab-content .root-slug-wrap > label {
  padding: 10px 20px;
  background: #c0c0c0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
#ezd-setup-wizard-wrap .tab-content .root-slug-wrap > label:hover {
  background: #00b16e;
}
#ezd-setup-wizard-wrap .tab-content .root-slug-wrap > label.active {
  background: #00b16e;
}
#ezd-setup-wizard-wrap .tab-content .root-slug-wrap > input.custom-slug-field {
  border-radius: 5px;
  display: none;
  margin-left: 15px;
  height: 36px;
  outline: 1px solid #00b16e;
  border-color: #00b16e;
}
#ezd-setup-wizard-wrap .tab-content .root-slug-wrap > input.custom-slug-field.active {
  display: inline-block;
}
#ezd-setup-wizard-wrap .tab-content .page-width-wrap > input[type=radio] {
  visibility: hidden;
}
#ezd-setup-wizard-wrap .tab-content .page-width-wrap > label {
  padding: 10px 20px;
  background: #c0c0c0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
#ezd-setup-wizard-wrap .tab-content .page-width-wrap > label:hover {
  background: #00b16e;
}
#ezd-setup-wizard-wrap .tab-content .page-width-wrap > label.active {
  background: #00b16e;
}
#ezd-setup-wizard-wrap .tab-content .page-layout-wrap > input {
  visibility: hidden;
}
#ezd-setup-wizard-wrap .tab-content .page-layout-wrap > label {
  cursor: pointer;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  opacity: 0.3;
}
#ezd-setup-wizard-wrap .tab-content .page-layout-wrap > label:hover {
  opacity: 1;
}
#ezd-setup-wizard-wrap .tab-content .page-layout-wrap > label.active {
  opacity: 1;
}
#ezd-setup-wizard-wrap .tab-content .page-layout-wrap > label > img {
  max-width: 120px;
}
#ezd-setup-wizard-wrap .toolbar-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background: #fbfbfb;
}
@media screen and (max-width: 767px) {
  #ezd-setup-wizard-wrap .toolbar-bottom {
    position: unset;
    display: block;
  }
}
#ezd-setup-wizard-wrap .toolbar-bottom button {
  background: #005ccb;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  margin: 0 10px;
  line-height: normal;
  padding: 10px;
  box-sizing: border-box;
}
#ezd-setup-wizard-wrap .toolbar-bottom button.sw-btn-prev {
  background: transparent;
  color: #005ccb;
  border: 1px solid #005ccb;
}
#ezd-setup-wizard-wrap .toolbar-bottom button.sw-btn-prev:hover {
  background: #005ccb;
  color: white;
}
#ezd-setup-wizard-wrap .toolbar-bottom button:hover {
  background: #00326e;
}
#ezd-setup-wizard-wrap .toolbar-bottom button.disabled {
  display: none;
}

button#ezd-install-selected-plugins {
  position: absolute;
  display: none;
  bottom: 10px;
  right: 20px;
  z-index: 1;
  height: auto;
  padding: 9px;
  background: #005ccb;
  min-width: 150px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  box-sizing: border-box;
  margin: 0;
}
button#ezd-install-selected-plugins:hover {
  background: #00326e;
}
@media screen and (max-width: 767px) {
  button#ezd-install-selected-plugins {
    left: 0;
    right: 0;
    min-width: auto;
    max-width: max-content;
    margin: auto;
  }
}

/*# sourceMappingURL=admin_setup_wizard.css.map */
