/** === WordPress default notices === **/
.notice {
    padding: 10px;
}

.eazydocs-close-notice {
    display: inline-block;
}

a.eazydocs-close-notice:focus,
a.eazydocs-close-notice:active {
    outline: none;
    box-shadow: none;
}

.eazydocs-close-notice,
.notice ul li a {
    text-decoration: none;
}

.eazydocs-close-notice i {
    font-size: 16px;
    text-decoration: none;
    margin-top: 2px;
    margin-left: -5px;
    color: #dc3232;
}

.eazydocs-close-notice span {
    margin-left: -3px;
}

.eazydocs-close-notice:hover,
.eazydocs-close-notice {
    color: #dc3232;
    font-weight: 600;
}

.notice .notice-action {
    position: relative;
    color: #00a0d2;
}

.notice .notice-action:after {
    content: '';
    position: absolute;
    height: 2px;
    background: #00a0d2;
    width: 100%;
    left: 0;
    bottom: -2px;
}
.metabox-holder #eazydocs_basics.group{
    display: block !important;
}

#get_docs_archive,
#get_docs_single,
#get_docs_slug {
    text-decoration: none;
    width: 220px;
    background: #050505;
    display: block;
    color: #ffffffb3;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-shadow: 2px 2px black;
    float: left;
    margin: 0px 20px 0px 0px;
}
#get_docs_archive:hover,
#get_docs_single:hover,
#get_docs_slug:hover{
    background: #0d0e2b;
    color: white;
}
#get_docs_archive:focus,
#get_docs_single:focus,
#get_docs_slug:focus{
    outline:none
}

/** === Codestar options / Pro Alert === **/
.csf-options {
    max-width: 1200px;
}
.csf-field .csf-title {
    width: 25%;
}
.csf-field .csf-fieldset {
    width: calc(75% - 20px);
}

.eazydocs-pro-notice.csf-field {
    position: relative;
    cursor: pointer;
}

.csf .eazydocs-pro-notice .csf-title,
.csf .eazydocs-pro-notice .csf-fieldset,
.eazydocs-pro-notice .csf-title,
.eazydocs-pro-notice .csf-fieldset{
    opacity: 0.5;
    pointer-events: none;
}

.eazydocs-pro-notice.csf-field::before {
    content: "Pro";
    background-color: #f1bd6c;
    color: #000;
    padding: 3px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.eazydocs-pro-notice.csf-field::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
}

.upgrade-link {
    background-color: #f1bd6c;
    color: #000;
    padding: 2px 6px;
}

.swal2-html-container {
    line-height: 1.6;
}

#customize-controls .docs-layout-img-wrap img{
    width: 90px;
    height:auto;
}
#customize-controls .single-layout-img-wrap img{
    max-width: 90px;
    height:auto;
}
.notice.is-dismissible.bottom-10{
    padding-bottom: 15px;
}
.header-notify-icon .notify-icon {
    padding-top: 10px;
    margin: auto;
}