/* Dashboard Wrapper */
.ezd-dashboard-container {
  padding: 1.5rem;
  position: relative;
  /* Header Section */
  /* Main Content */
}
.ezd-dashboard-container .ezd-header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 23px;
  border-radius: 4px;
  position: sticky;
  top: 32px;
  left: 0;
  right: 0;
  z-index: 11;
  border-radius: 4px;
  border-bottom: 1px solid rgba(173, 173, 173, 0.3803921569);
}
.ezd-dashboard-container .ezd-header .ezd-logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.ezd-dashboard-container .ezd-header .ezd-logo-container img {
  max-width: 35px;
  max-height: 35px;
  margin-left: -5px;
}
.ezd-dashboard-container .ezd-header .ezd-logo-container .ezd-logo-text {
  font-size: 20px;
  font-weight: 600;
}
.ezd-dashboard-container .ezd-header .ezd-header-actions {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.ezd-dashboard-container .ezd-header .ezd-header-actions .ezd-action-item {
  position: relative;
}
.ezd-dashboard-container .ezd-header .ezd-header-actions .ezd-action-item button {
  padding: 5px 15px;
}
.ezd-dashboard-container .ezd-header .ezd-header-actions .ezd-action-item .ezd-icon-button,
.ezd-dashboard-container .ezd-header .ezd-header-actions .ezd-action-item .ezd-user-avatar-button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ezd-dashboard-container .ezd-header .ezd-header-actions .ezd-action-item .ezd-icon-button .ezd-badge-counter,
.ezd-dashboard-container .ezd-header .ezd-header-actions .ezd-action-item .ezd-user-avatar-button .ezd-badge-counter {
  position: absolute;
  top: -4px;
  right: -4px;
  background: #0073e6;
  color: #fff;
  padding: 2px 6px;
  font-size: 10px;
  border-radius: 4px;
}
.ezd-dashboard-container .ezd-header .ezd-header-actions .ezd-action-item .ezd-user-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.ezd-dashboard-container .ezd-main-content {
  margin-top: 1.5rem;
  /* Stat Cards Grid */
  /* Reusable Grid */
  /* Card */
}
.ezd-dashboard-container .ezd-main-content .ezd-stat-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}
.ezd-dashboard-container .ezd-main-content .ezd-stat-grid .ezd-stat-card {
  background: #fff;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
}
.ezd-dashboard-container .ezd-main-content .ezd-stat-grid .ezd-stat-card .ezd-stat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.ezd-dashboard-container .ezd-main-content .ezd-stat-grid .ezd-stat-card .ezd-stat-header .ezd-stat-label {
  color: black;
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}
.ezd-dashboard-container .ezd-main-content .ezd-stat-grid .ezd-stat-card .ezd-stat-header .ezd-stat-card-icons {
  position: absolute;
  top: 0px;
  right: 0px;
}
.ezd-dashboard-container .ezd-main-content .ezd-stat-grid .ezd-stat-card .ezd-stat-header .ezd-stat-card-icons a {
  text-decoration: none;
  display: block;
  margin-top: 15px;
}
.ezd-dashboard-container .ezd-main-content .ezd-stat-grid .ezd-stat-card .ezd-stat-header .ezd-stat-card-icons a img {
  margin-top: 2px;
  margin-left: 2px;
}
.ezd-dashboard-container .ezd-main-content .ezd-stat-grid .ezd-stat-card .ezd-stat-header .ezd-stat-card-icons span {
  display: block;
  font-size: 24px;
}
.ezd-dashboard-container .ezd-main-content .ezd-stat-grid .ezd-stat-card .ezd-stat-header .ezd-stat-card-icons span:last-child {
  font-size: 20px;
  margin-bottom: 0;
  color: #004eff;
  margin-top: 17px;
}
.ezd-dashboard-container .ezd-main-content .ezd-stat-grid .ezd-stat-card .ezd-stat-header .ezd-stat-icon-positive {
  color: #10b981;
}
.ezd-dashboard-container .ezd-main-content .ezd-stat-grid .ezd-stat-card .ezd-stat-header .ezd-stat-icon-negative {
  color: #ef4444;
}
.ezd-dashboard-container .ezd-main-content .ezd-stat-grid .ezd-stat-card .ezd-stat-value {
  font-size: 28px;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.ezd-dashboard-container .ezd-main-content .ezd-stat-grid .ezd-stat-card .ezd-stat-value.ezd-stat-value-positive {
  color: #10b981;
}
.ezd-dashboard-container .ezd-main-content .ezd-stat-grid .ezd-stat-card .ezd-stat-value.ezd-stat-value-negative {
  color: #ef4444;
}
.ezd-dashboard-container .ezd-main-content .ezd-grid {
  display: grid;
  gap: 1.25rem;
}
.ezd-dashboard-container .ezd-main-content .ezd-grid.ezd-grid-cols-lg-3 {
  grid-template-columns: repeat(3, 1fr);
}
.ezd-dashboard-container .ezd-main-content .ezd-grid .ezd-grid-col-lg-2 {
  grid-column: span 2;
}
.ezd-dashboard-container .ezd-main-content .ezd-card {
  background: #fff;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
  /* Search Chart */
  /* Activity List */
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-card-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 1.25rem 1.25rem 0 1.25rem;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-card-header .ezd-filter-button {
  padding: 0.5rem 0.75rem;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #fff;
  cursor: pointer;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-chart-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-chart-footer .ezd-chart-legend {
  font-size: 14px;
  color: #4b5563;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-search-chart-container .apexcharts-canvas {
  margin: auto;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .t-success {
  color: #27AE60;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .t-danger {
  color: #E74C3C;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-meta {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0 5px;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-meta .ezd-votes {
  display: flex;
  gap: 10px;
  margin-right: 5px;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-meta .ezd-progress progress {
  margin: 0;
  padding: 8px;
  width: 80px;
  filter: hue-rotate(45deg);
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-item {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  padding: 10px 20px;
  background: rgba(251, 251, 251, 0.5098039216);
  margin: 0;
  border-bottom: 1px solid #f1f1f1;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-item:last-child {
  border-bottom: none;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-item:nth-child(odd) {
  background: rgba(36, 68, 101, 0.0196078431);
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-item .ezd-activity-icon-wrapper {
  width: 33px;
  height: 33px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-item .ezd-activity-icon-wrapper.ezd-icon-bg-blue {
  background: #0073e6;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-item .ezd-activity-icon-wrapper.ezd-icon-bg-green {
  background: #10b981;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-item .ezd-activity-icon-wrapper.ezd-icon-bg-yellow {
  background: #f59e0b;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-item .ezd-activity-icon-wrapper.ezd-icon-bg-red {
  background: #ef4444;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-item .ezd-activity-icon-wrapper .dashicons {
  font-size: 17px;
  color: white;
  text-decoration: none;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-item .ezd-activity-text {
  margin: 0;
  font-size: 15px;
  line-height: 21px;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-item .ezd-activity-text a {
  color: #0073e6;
  text-decoration: none;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-item .ezd-activity-time {
  font-size: 12px;
  color: #4b5563;
  margin: 6px 0 0;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .ezd-activity-list .ezd-activity-item .ezd-activity-time .ezd-state-view-icon {
  font-size: 16px;
  line-height: 19px;
  color: black;
}
.ezd-dashboard-container .ezd-main-content .ezd-card .not-found-text {
  margin: 18px 22px;
  color: black;
  font-size: 16px;
  font-weight: 300;
}

.ezd-stat-filter-container {
  margin: 12px 20px -12px;
}
.ezd-stat-filter-container ul {
  margin: 0;
}
.ezd-stat-filter-container ul li {
  display: inline-block;
  background: #e4e4e4;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 13px;
  box-shadow: none;
  cursor: pointer;
}
.ezd-stat-filter-container ul li.is-active, .ezd-stat-filter-container ul li:hover {
  background: blue;
  color: #fff;
}

/*# sourceMappingURL=admin-dashboard.css.map */
