/* Colors */
:root {
  --ezd-color-10: rgba(171, 198, 245, 0.22);
  --ezd-color-25: #cee0ff;
  --ezd-color-50: #b5d1ff;
  --ezd-color-100: #9cc2ff;
  --ezd-color-200: #84b2ff;
  --ezd-color-300: #6ba3ff;
  --ezd-color-400: #5294ff;
  --ezd-color-500: #3985ff;
  --secondary_color: #1d2746;
  --green_color: #27ae60;
  --p_color: #425466;
  --body_bg: #fff;
  --bs-white: #fff;
  --black_25: #f9f9f9;
  --black_50: #f2f2f2;
  --black_75: #eeeeee;
  --black_100: #d6d9dc;
  --black_150: #c8ccd0;
  --black_200: #bbc0c4;
  --black_300: #9fa6ad;
  --black_350: #9199a1;
  --black_400: #848d95;
  --black_500: #6a737c;
  --black_600: #535a60;
  --black_700: #3c4146;
  --black_750: #2f3337;
  --black_800: #242729;
  --black_900: #0c0d0e;
  --border_on_white: #e6edf0;
  --bs_sm: 0 1px 2px rgba(0, 0, 0, 0.05),0 1px 4px rgba(0, 0, 0, 0.05),0 2px 8px rgba(0, 0, 0, 0.05);
  --bs_md: 0 1px 3px rgba(0, 0, 0, 0.06),0 2px 6px rgba(0, 0, 0, 0.06),0 3px 8px rgba(0, 0, 0, 0.09);
  --bs_lg: 0 1px 4px rgba(0, 0, 0, 0.09),0 3px 8px rgba(0, 0, 0, 0.09),0 4px 13px rgba(0, 0, 0, 0.13);
}

/*font Variables*/
/**=== Functions ===**/
.bs-sm {
  box-shadow: var(--bs_sm) !important;
}

.bs-md {
  box-shadow: var(--bs_md) !important;
}

.bs-lg {
  box-shadow: var(--bs_lg) !important;
}

/** Hover Classes **/
.h\:bs-md:hover {
  box-shadow: var(--bs_md) !important;
}

.h\:bs-lg:hover {
  box-shadow: var(--bs_md) !important;
}

.ezd-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
}
.ezd-grid.ezd-column-1 {
  grid-template-columns: repeat(1, 1fr);
}
.ezd-grid.ezd-column-2 {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 600px) {
  .ezd-grid.ezd-column-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.ezd-grid.ezd-column-4 {
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 991px) {
  .ezd-grid.ezd-column-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .ezd-grid.ezd-column-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.ezd-grid.ezd-column-3 {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 991px) {
  .ezd-grid.ezd-column-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .ezd-grid.ezd-column-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.ezd-grid.ezd-column-5 {
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 991px) {
  .ezd-grid.ezd-column-5 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .ezd-grid.ezd-column-5 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.ezd-grid.ezd-column-6 {
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 991px) {
  .ezd-grid.ezd-column-6 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .ezd-grid.ezd-column-6 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.ezd-grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.ezd-grid-column-full,
[class^=ezd-lg-col],
[class^=ezd-md-col],
[class^=ezd-sm-col] {
  grid-column: 1/-1;
}

@media (max-width: 991px) {
  [class^=ezd-lg-col] {
    grid-column: 1/-1;
  }
}
@media (min-width: 576px) {
  .ezd-sm-col-4 {
    grid-column: span 4/span 4;
  }
  .ezd-sm-col-3 {
    grid-column: span 3/span 3;
  }
  .ezd-sm-col-5 {
    grid-column: span 5/span 5;
  }
  .ezd-sm-col-6 {
    grid-column: span 6/span 6;
  }
  .ezd-sm-col-7 {
    grid-column: span 7/span 7;
  }
  .ezd-sm-col-8 {
    grid-column: span 8/span 8;
  }
  .ezd-sm-col-9 {
    grid-column: span 9/span 9;
  }
  .ezd-sm-col-10 {
    grid-column: span 10/span 10;
  }
  .ezd-sm-col-2 {
    grid-column: span 2/span 2;
  }
  .ezd-sm-col-11 {
    grid-column: span 11/span 11;
  }
  .ezd-sm-col-12 {
    grid-column: span 12/span 12;
  }
}
@media (min-width: 768px) {
  .ezd-md-col-4 {
    grid-column: span 4/span 4;
  }
  .ezd-md-col-3 {
    grid-column: span 3/span 3;
  }
  .ezd-md-col-5 {
    grid-column: span 5/span 5;
  }
  .ezd-md-col-6 {
    grid-column: span 6/span 6;
  }
  .ezd-md-col-7 {
    grid-column: span 7/span 7;
  }
  .ezd-md-col-8 {
    grid-column: span 8/span 8;
  }
  .ezd-md-col-9 {
    grid-column: span 9/span 9;
  }
  .ezd-md-col-10 {
    grid-column: span 10/span 10;
  }
  .ezd-md-col-11 {
    grid-column: span 11/span 11;
  }
  .ezd-md-col-12 {
    grid-column: span 12/span 12;
  }
  .ezd-md-col-2 {
    grid-column: span 2/span 2;
  }
}
@media (min-width: 992px) {
  .ezd-lg-col-4 {
    grid-column: span 4/span 4;
  }
  .ezd-lg-col-3 {
    grid-column: span 3/span 3;
  }
  .ezd-lg-col-5 {
    grid-column: span 5/span 5;
  }
  .ezd-lg-col-6 {
    grid-column: span 6/span 6;
  }
  .ezd-lg-col-8 {
    grid-column: span 8/span 8;
  }
  .ezd-lg-col-7 {
    grid-column: span 7/span 7;
  }
  .ezd-lg-col-9 {
    grid-column: span 9/span 9;
  }
  .ezd-lg-col-10 {
    grid-column: span 10/span 10;
  }
  .ezd-lg-col-11 {
    grid-column: span 11/span 11;
  }
  .ezd-lg-col-12 {
    grid-column: span 12/span 12;
  }
  .ezd-lg-col-2 {
    grid-column: span 2/span 2;
  }
}
@media (min-width: 1200px) {
  .ezd-xl-col-4 {
    grid-column: span 4/span 4;
  }
  .ezd-xl-col-3 {
    grid-column: span 3/span 3;
  }
  .ezd-xl-col-5 {
    grid-column: span 5/span 5;
  }
  .ezd-xl-col-6 {
    grid-column: span 6/span 6;
  }
  .ezd-xl-col-8 {
    grid-column: span 8/span 8;
  }
  .ezd-xl-col-7 {
    grid-column: span 7/span 7;
  }
  .ezd-xl-col-9 {
    grid-column: span 9/span 9;
  }
  .ezd-xl-col-10 {
    grid-column: span 10/span 10;
  }
  .ezd-xl-col-11 {
    grid-column: span 11/span 11;
  }
  .ezd-xl-col-12 {
    grid-column: span 12/span 12;
  }
  .ezd-xl-col-2 {
    grid-column: span 2/span 2;
  }
}
.ezd-custom-container.ezd-container {
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 1300px) {
  .ezd-custom-container.ezd-container {
    max-width: 1240px;
  }
}
@media (min-width: 1500px) {
  .ezd-custom-container.ezd-container {
    max-width: 1470px;
  }
}

.ezd-container {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
@media (min-width: 1200px) {
  .ezd-container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .ezd-container {
    max-width: 960px;
  }
}

.ezd-container-fluid {
  width: auto;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  max-width: 100% !important;
}
@media (max-width: 991px) {
  .ezd-container-fluid {
    padding-left: 0px !important;
    padding-right: 15px !important;
  }
}

.eazydocs_shortcode .ezd-container,
.ezd-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .eazydocs_shortcode .ezd-container,
  .ezd-container {
    max-width: 1200px;
  }
}

/** === Modal === **/
.ezd-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.ezd-modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: auto;
}

.ezd-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border-radius: 0.3rem;
  outline: 0;
}
.ezd-modal-content .shortcode_title .title {
  margin-bottom: 0;
}
.ezd-modal-content span.ezd-input-warning-text {
  font-size: 15px;
  color: red;
  margin-left: 5px;
  font-style: italic;
}

.modal.is-visible {
  visibility: visible;
  display: block;
}

.ezd-modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

@media (min-width: 576px) {
  .ezd-modal-dialog {
    margin: 1.75rem auto;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    margin: 1.75rem auto;
  }
}
/** === Utility Classes === **/
.ezd-d-flex {
  display: flex;
}
.ezd-d-flex .ezd-col-width {
  padding-left: 15px;
  padding-right: 15px;
}
.ezd-d-flex.ezd-column-1 .ezd-col-width {
  flex: 0 0 100%;
  max-width: 100%;
}
.ezd-d-flex.ezd-column-2 .ezd-col-width {
  flex: 1;
  max-width: 50%;
}
@media (max-width: 600px) {
  .ezd-d-flex.ezd-column-2 .ezd-col-width {
    max-width: 100%;
  }
}
.ezd-d-flex.ezd-column-3 .ezd-col-width {
  flex: 1;
  max-width: 33.333333%;
}
@media (max-width: 991px) {
  .ezd-d-flex.ezd-column-3 .ezd-col-width {
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .ezd-d-flex.ezd-column-3 .ezd-col-width {
    max-width: 100%;
  }
}
.ezd-d-flex.ezd-column-4 .ezd-col-width {
  flex: 1;
  max-width: 25%;
}
@media (max-width: 991px) {
  .ezd-d-flex.ezd-column-4 .ezd-col-width {
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .ezd-d-flex.ezd-column-4 .ezd-col-width {
    max-width: 100%;
  }
}
.ezd-d-flex.ezd-column-6 .ezd-col-width {
  flex: 0 0 16.67%;
  max-width: 16.67%;
}
@media (max-width: 991px) {
  .ezd-d-flex.ezd-column-6 .ezd-col-width {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .ezd-d-flex.ezd-column-6 .ezd-col-width {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.ezd-circle {
  border-radius: 50% !important;
}

.ezd-align-items-center {
  align-items: center;
}

.ezd-align-items-start {
  align-items: start;
}

.ezd-align-items-end {
  align-items: end;
}

.ezd-justify-content-between {
  justify-content: space-between;
}

.ezd-justify-content-center {
  justify-content: center;
}

.ezd-justify-content-start {
  justify-content: start;
}

.position-relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.ezd-shadow-lg {
  box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.175) !important;
}

.ezd-d-none {
  display: none;
}

.p-0 {
  padding: 0;
}

.ezd-list-unstyled {
  list-style: none !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.ezd-shadow-lg {
  box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.175) !important;
}

.ezd-tab-content {
  display: block;
}

/** === UI Elements === **/
.ezd-badge {
  background: rgba(175, 184, 193, 0.2);
  color: var(--black_800);
  font-size: 11px;
  padding: 3px 8px 0;
  border-radius: 3px;
  margin-right: 5px;
  display: inline-block;
  line-height: 1.45;
  vertical-align: middle;
  font-weight: 500;
  height: 20px;
  letter-spacing: 0.2px;
  margin-top: 5px;
}

.ezd-alert {
  position: relative;
  padding: 15px 20px;
  margin-bottom: 1.5rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.ezd-alert.ezd-alert-info {
  background: rgba(218, 249, 255, 0.3882352941);
  border-color: rgba(109, 218, 243, 0.4588235294);
  margin-bottom: 40px;
}

.bg-dark .ezd-badge {
  color: #fff;
}

/*============== Start doc_tag_area css =============*/
.doc_tag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 0;
  margin-bottom: 75px !important;
  margin-left: 0;
  border: none !important;
}
.doc_tag .nav-item {
  margin-bottom: 0;
}
.doc_tag .nav-item .nav-link {
  font-size: 14px;
  font-weight: 400;
  color: var(--ezd_brand_color);
  border: 1px solid rgba(8, 102, 25, 0.2);
  border-radius: 4px;
  background-color: rgba(16, 179, 214, 0.031);
  padding: 0 20px;
  line-height: 28px;
  margin: 0 5px;
  transition: all 0.4s linear;
  display: inline-block;
  cursor: pointer;
}
.doc_tag .nav-item .nav-link:not(.active):hover {
  background: rgba(8, 102, 25, 0.2);
}
.doc_tag .nav-item .nav-link.active {
  background-color: var(--ezd_brand_color);
  border-color: var(--ezd_brand_color);
  color: #fff;
}

.tabs_sliders .ezd-tab-menu {
  width: 100%;
}

.doc_tag_title {
  margin-bottom: 45px;
}
.doc_tag_title h4 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
  margin-top: 0;
}
.doc_tag_title .line {
  height: 2px;
  width: 100%;
  background: #e1e9eb;
  display: block;
}

.doc_tab_pane .row {
  margin-bottom: -85px;
}

.doc_tag_item {
  margin-bottom: 85px;
}

.tag_list {
  margin-bottom: 32px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.tag_list li {
  margin: 15px 0 0 0;
  padding: 0;
}
.tag_list li .children {
  list-style: none;
}
.tag_list li a {
  font-size: 16px;
  color: var(--p_color);
  line-height: 22px;
  transition: color 0.2s linear;
  display: flex;
}
.tag_list li a:before {
  content: "h";
  font-family: "ElegantIcons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  padding-right: 15px;
}
.tag_list li a i {
  margin-right: 15px;
}
.tag_list li a:hover {
  color: var(--ezd_brand_color);
}

/** === Docs 2 === **/
.documentation_tab {
  border-bottom: 2px solid #e1e9eb;
  margin-left: 0;
}
.documentation_tab .nav-item {
  margin-bottom: 0;
  margin-left: 0;
}
.documentation_tab .nav-item .nav-link {
  border: 0;
  color: var(--p_color);
  font-size: 14px;
  font-weight: 500;
  padding: 15px 20px;
  position: relative;
  transition: color 0.2s linear;
  background: transparent;
  border-radius: 5px 5px 0 0;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.documentation_tab .nav-item .nav-link:before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  background: var(--ezd_brand_color);
  transition: width 0.3s linear;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.documentation_tab .nav-item .nav-link:hover, .documentation_tab .nav-item .nav-link.active {
  color: var(--ezd_brand_color);
}
.documentation_tab .nav-item .nav-link.active::before {
  width: 100%;
  left: 0;
  right: auto;
}

.documentation_tab_pane {
  padding-top: 60px;
}
.documentation_tab_pane .documentation_text {
  margin-bottom: 30px;
}
.documentation_tab_pane .row {
  margin-bottom: -26px;
}

.documentation_text .doc-logo {
  margin-bottom: 20px;
  max-width: 150px;
  height: auto;
}
.documentation_text .round {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(15, 204, 208);
  box-shadow: 0 20px 30px 0 rgba(24, 211, 214, 0.2);
  display: block;
  text-align: center;
  line-height: 100px;
  margin-bottom: 25px;
}
.documentation_text h4 {
  font-size: 24px;
  margin-bottom: 18px;
}
.documentation_text p {
  margin-bottom: 0;
  font-size: 16px;
}
.documentation_text .learn_btn {
  padding-top: 20px;
  font-size: 16px;
}

/**== Docs 4 / Book chapter CSS ==**/
.book-chapter-nav {
  position: relative;
  flex-flow: row nowrap;
  display: flex;
  overflow-x: auto;
  gap: 25px;
  margin: 0;
}
.book-chapter-nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid var(--border_on_white);
}
.book-chapter-nav .nav-item {
  display: inline-block;
  padding: 0;
  border-bottom: 2px solid transparent;
  min-width: 150px;
  margin: 0;
}
.book-chapter-nav .nav-item a {
  padding: 12px 0;
  font-weight: 500;
  position: relative;
  color: var(--black_900);
  margin-right: 0px;
  font-size: 15px;
  display: block;
  text-align: left;
}
.book-chapter-nav .nav-item a span.chapter-part {
  display: block;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 400;
  color: var(--black_700);
}
.book-chapter-nav .nav-item.active {
  border-color: var(--ezd_brand_color);
  z-index: 1;
}
.book-chapter-nav .nav-item.active a, .book-chapter-nav .nav-item.active span.chapter-part {
  color: var(--ezd_brand_color);
}

.dock4-nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  left: 0;
  right: 0;
  justify-content: center;
  z-index: 1012;
  border-top: 2px solid var(--border_on_white);
  overflow: auto;
  white-space: nowrap;
  margin: auto;
  text-align: center;
  padding: 0 15px;
}
.dock4-nav-sticky::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid var(--border_on_white);
  z-index: -1;
}
.dock4-nav-sticky .book-chapter-nav::after {
  display: none;
}
.dock4-nav-sticky .book-chapter-nav {
  margin-bottom: 0 !important;
  border-bottom: none;
}
.dock4-nav-sticky .book-chapter-nav .nav-item.active a {
  color: var(--ezd_brand_color);
}

.chapter_counter {
  font-size: 14px;
  margin-right: 5px;
  color: var(--black_300);
}

.docs4-heading {
  padding-top: 50px;
  padding-bottom: 20px;
}
.docs4-heading h3 {
  margin-top: 0;
  font-size: 26px;
  font-weight: 700;
}
.docs4-heading p {
  font-size: 16px;
}

.navbar-shown .dock4-nav-sticky {
  transition: 0.4s;
  top: 73px;
}

.admin-bar.navbar-shown .dock4-nav-sticky {
  transition: 0.4s;
  top: 105px;
}

.admin-bar .dock4-nav-sticky {
  top: 32px;
  z-index: 9999;
}

.doc4-section-title h4 {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--black_800);
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  transition: 0.3s;
}

/*book chapter Dark*/
.body_dark .dock4-nav-sticky {
  background: #131417;
}

.docs-box-item {
  margin-bottom: 25px;
  /** === Docs-5 === **/
}
.docs-box-item .docs-5-title {
  background: #171544;
  color: #fff;
  padding: 15px 20px;
  font-size: 16px;
  margin-bottom: 0;
}
.docs-box-item .dox5-section-item {
  border: 1px solid var(--border_on_white);
  padding: 20px 0 0;
  background: var(--body_bg);
}
.docs-box-item .section5-section-title {
  padding-bottom: 5px;
}
.docs-box-item .section5-section-title h6 {
  font-size: 15px;
  font-weight: 600;
  color: var(--black_700);
  margin-bottom: 0;
  padding-left: 20px;
  text-transform: lowercase;
}
.docs-box-item .section5-section-title h6::first-letter {
  text-transform: uppercase;
}
.docs-box-item .section5-article {
  margin-bottom: 15px;
}
.docs-box-item .section5-article ul li {
  padding: 10px 20px 10px 50px;
  line-height: 1.5;
  transition: all 0.3s;
}
.docs-box-item .section5-article ul li:nth-child(even) {
  background: var(--black_50);
}
.docs-box-item .section5-article ul li:hover {
  background: rgba(241, 241, 241, 0.4784313725);
}
.docs-box-item .section5-article ul li a {
  color: var(--p_color);
  font-size: 15px;
  text-decoration: none;
}
.docs-box-item .section5-article ul li a:hover {
  color: var(--ezd_brand_color);
}
.docs-box-item .section5-article:last-child {
  margin-bottom: 0;
}

/** === Docs-6 (used in the Focused knowledge base demo) === **/
.docs6 .doc_community_item {
  padding: 38px 20px;
  display: flex;
  gap: 15px;
}
.docs6 .doc_community_item .doc_community_icon {
  margin-right: 0;
  display: flex;
  width: unset;
}
.docs6 .doc_community_item .doc_community_icon.ezd-docs5-icon-wrap {
  width: 100px;
}
.docs6 .doc_community_item .doc_community_icon img {
  margin: auto;
  align-items: center;
  max-width: 80px !important;
  max-height: 80px !important;
}
.docs6 .doc_entry_content {
  width: 80%;
  padding-right: 30px;
}

/* Topic List Area css
  ============================================================================================ */
.topic_list_item {
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 36px 30px 38px 36px;
  border: 1px solid var(--black_25);
  transition: all 300ms linear 0s;
  box-shadow: 0 50px 120px 0 rgba(4, 73, 89, 0.08);
  background: var(--bs-white);
  display: grid;
  transition: all 300ms linear 0s;
}
.topic_list_item > .navbar-nav {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 0;
}
.topic_list_item .doc4-section-title {
  width: 100%;
}
.topic_list_item img {
  padding-right: 15px;
  max-width: 40px;
}
.topic_list_item .topic-title {
  display: flex;
  justify-content: space-between;
}
.topic_list_item .topic-title h4 {
  font-size: 20px;
  margin-bottom: 25px;
  display: flex;
  width: 100%;
}
.topic_list_item ul {
  padding-left: 0 !important;
}
.topic_list_item ul li {
  margin-bottom: 10px;
  margin-left: 0;
  list-style: none;
}
.topic_list_item ul li a {
  color: var(--p_color);
  font-size: 16px;
  transition: all 300ms linear 0s;
}
.topic_list_item ul li a i {
  padding-right: 12px;
}
.topic_list_item ul li a:hover {
  color: var(--ezd_brand_color);
}
.topic_list_item ul li:last-child {
  margin-bottom: 0;
}
.topic_list_item .text_btn {
  margin-top: 36px;
  display: inline-block;
}
.topic_list_item:hover {
  box-shadow: 0 16px 40px 0 rgba(10, 50, 102, 0.1);
  border-color: #fff;
}
@media (max-width: 560px) {
  .topic_list_item {
    width: 100%;
  }
}

/* End Topic List Area css
============================================================================================ */
/*============== doc_features_area css  ===========*/
.doc_features_area {
  padding-bottom: 40px;
  position: relative;
  z-index: 1;
  background: #fbfbfc;
}
.doc_features_area .doc_features_shap {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
}

.doc_features_inner {
  overflow: hidden;
  box-shadow: 0 30px 60px 0 rgba(2, 2, 48, 0.08);
  border-radius: 10px;
  background: #fff;
  top: -60px;
  position: relative;
}
.doc_features_inner .see_more_item {
  display: none;
  flex-wrap: wrap;
  width: 100%;
}

.see_btn {
  font-size: 14px;
  line-height: 20px;
  color: var(--ezd_brand_color);
  display: inline-block;
  margin: 16px 50px 12px;
  width: 100%;
}
.see_btn:hover i {
  background-color: var(--ezd_brand_color);
  color: #fff;
}
.see_btn i {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -5px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid var(--ezd_brand_color);
  transition: background-color 0.3s;
}
.see_btn .less {
  display: none;
}
.see_btn.active .less {
  display: inline;
}
.see_btn.active .more {
  display: none;
}
.see_btn.active i {
  transform: rotate(180deg);
}

/*============= doc_community_area css  ================*/
.doc_community_area {
  padding: 200px 0 75px;
  position: relative;
}
.doc_community_area .shap_one,
.doc_community_area .shap_two {
  position: absolute;
  z-index: -1;
}
.doc_community_area .shap_one {
  bottom: 0;
}
.doc_community_area .shap_two {
  top: 0;
}
.doc_community_area .doc_title {
  margin-bottom: 64px;
}

.doc_community_info .question_text {
  color: #a7acb7;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 40px;
}
.doc_community_info .question_text:hover {
  color: var(--ezd_brand_color);
}

.doc_community_item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 20px 30px 0 rgba(2, 2, 48, 0.06);
  margin-bottom: 20px;
  padding: 38px 70px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.doc_community_item .doc_community_icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  font-size: 36px;
  background: rgba(76, 76, 241, 0.06);
  color: var(--ezd_brand_color);
  margin-right: 50px;
}
.doc_community_item h4 {
  font-size: 20px;
  color: var(--black_800);
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 0;
  transition: color 0.2s linear;
}
.doc_community_item h4:hover {
  color: var(--ezd_brand_color);
}
.doc_community_item p {
  font-size: 14px;
  color: #6b707f;
}
.doc_community_item .doc_entry_info {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
}
.doc_community_item .doc_entry_info .author_avatar {
  display: flex;
  margin-bottom: 5px;
  margin-right: 15px;
  margin-left: 0;
  margin-top: 0;
}
.doc_community_item .doc_entry_info .author_avatar li {
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
  color: var(--black_800);
  text-align: center;
  z-index: 2;
  position: relative;
  margin-left: 0;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doc_community_item .doc_entry_info .author_avatar li img {
  max-width: 30px;
  border-radius: 50%;
}
.doc_community_item .doc_entry_info .author_avatar li + li {
  margin-left: -10px;
}
.doc_community_item .doc_entry_info .author_avatar li.avatar_plus {
  border-color: #d7d8db;
  width: 32px;
  height: 32px;
  align-self: end;
  line-height: 28px;
  font-size: 12px;
  z-index: 0;
  margin-left: -8px;
}
.doc_community_item .doc_entry_info .text {
  font-size: 14px;
  line-height: 1.3;
  color: #90939b;
}
.doc_community_item:hover {
  box-shadow: 0 10px 30px 0 rgba(2, 2, 48, 0.02);
}
.doc_community_item:nth-child(2) .doc_community_icon {
  background: #fef9ee;
  color: #f7b126;
}
.doc_community_item:nth-child(3) .doc_community_icon {
  background: #f1fbf8;
  color: #0fbc8b;
}

/*============= doc_community_area css  ================*/
/*=============== doc_features_area_one css ===========*/
.doc_features_area_one {
  position: relative;
  z-index: 1;
  padding: 100px 0 140px;
}
.doc_features_area_one:before {
  content: "";
  width: 100%;
  height: 460px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.doc_features_item_one {
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(4, 73, 89, 0.05);
  padding: 30px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.doc_features_item_one h3 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
  transition: color 0.2s linear;
}
.doc_features_item_one h3:hover {
  color: var(--ezd_brand_color);
}
.doc_features_item_one p {
  line-height: 24px;
}
.doc_features_item_one img {
  margin-right: 30px;
}
.doc_features_item_one .learn_btn {
  font-size: 14px;
}
.doc_features_item_one .learn_btn i {
  font-size: 20px;
  margin-left: 4px;
}
.doc_features_item_one:hover {
  box-shadow: 0 30px 40px 0 rgba(4, 73, 89, 0.08);
}

.learn_btn {
  font-size: 14px;
  font-weight: 500;
  color: var(--black_800);
  padding-top: 5px;
  display: inline-block;
  transition: color 0.2s linear;
}
.learn_btn i {
  vertical-align: middle;
  display: inline-block;
  font-size: 20px;
  margin-left: 6px;
  transition: all 0.2s linear, color 0s linear;
}
.learn_btn.c_blue {
  color: var(--ezd_brand_color);
}
.learn_btn:hover {
  color: var(--ezd_brand_color);
}
.learn_btn:hover i {
  transform: translateX(8px);
}
.learn_btn:hover.c_blue {
  color: var(--secondary_color);
}

/*=============== doc_features_area_one css ===========*/
/* Question List Area css
  ============================================================================================ */
.question_menu h3 {
  color: var(--secondary_color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 32px;
}
.question_menu .nav-tabs {
  border: none;
  margin-right: -15px;
  margin-bottom: -15px;
}
.question_menu .nav-tabs li {
  margin-right: 15px;
  margin-bottom: 15px;
}
.question_menu .nav-tabs li a {
  border: none;
  background: rgba(8, 102, 25, 0.07);
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 16px;
  color: var(--p_color);
  transition: all 300ms linear 0s;
}
.question_menu .nav-tabs li a:hover {
  background: var(--ezd_brand_color);
  color: #fff;
}

.question_list .fade {
  transition: opacity 0.5s linear;
}
.question_list .ques_item {
  background: rgba(8, 102, 25, 0.07);
  padding: 35px 25px 35px 35px;
  border-radius: 5px;
}
.question_list .ques_item h4 {
  color: var(--secondary_color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 13px;
}
.question_list .ques_item p {
  margin-bottom: 0;
}
.question_list .ques_item:nth-child(even) {
  background: #fff;
}

/* Quesiton Area css
  ============================================================================================ */
.question_menu.docs3 .nav {
  margin-bottom: 60px;
  margin-left: 0;
  gap: 10px;
  list-style-type: none;
}
.question_menu.docs3 .nav li {
  margin: 0;
  list-style: none;
}
.question_menu.docs3 .nav li:last-child {
  margin-right: 0;
}
.question_menu.docs3 .nav li a {
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary_color);
  border-radius: 4px;
  line-height: 55px;
  padding: 0 28px;
  display: inline-flex;
  align-items: center;
  background: transparent;
  cursor: pointer;
  box-shadow: 0 0.3px 0.9px rgba(29, 56, 70, 0.1), 0 1.6px 3.6px rgba(29, 56, 70, 0.13);
  margin: 2px;
  background: var(--bs-white);
}
.question_menu.docs3 .nav li a ion-icon {
  color: var(--p_color);
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.question_menu.docs3 .nav li a:hover {
  color: var(--ezd_brand_color);
  background: rgba(8, 102, 25, 0.2);
}
.question_menu.docs3 .nav li a:hover ion-icon {
  color: var(--ezd_brand_color);
}
.question_menu.docs3 .nav li a.active {
  color: #fff;
  background: var(--ezd_brand_color);
}
.question_menu.docs3 .nav li a.active ion-icon {
  color: #fff;
}
.question_menu.docs3 .nav li a img {
  max-width: 16px;
  max-height: 16px;
}
.question_menu.docs3 .topic_list_item {
  background: #ffffff;
  box-shadow: 0 0.3px 0.9px rgba(29, 56, 70, 0.1), 0 1.6px 3.6px rgba(29, 56, 70, 0.13);
  border-radius: 5px;
  padding-top: 38px;
  padding-bottom: 38px;
  transition: all 300ms linear 0s;
}
.question_menu.docs3 .topic_list_item h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
}
.question_menu.docs3 .topic_list_item .text_btn {
  margin-top: 30px;
  font-size: 16px;
}
.question_menu.docs3 .topic_list_item .text_btn:hover {
  color: var(--ezd_brand_color);
}
.question_menu.docs3 .topic_list_item ul li a:hover {
  color: var(--ezd_brand_color);
}
.question_menu.docs3 .topic_list_item:hover {
  box-shadow: 0 14px 25px rgba(29, 56, 70, 0.06);
}

.categories_guide_item {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 50px 120px 0 rgba(4, 73, 89, 0.08);
  padding: 40px 35px 50px;
  margin-bottom: 30px;
  position: relative;
}
.categories_guide_item img {
  max-width: 60px;
  margin-bottom: 10px;
  height: auto;
}
@media (max-width: 560px) {
  .categories_guide_item {
    width: 100%;
  }
}
.categories_guide_item.bg-dark {
  background: #212529;
}
.categories_guide_item.bg-dark .title {
  color: #fff !important;
}
.categories_guide_item.bg-dark a,
.categories_guide_item.bg-dark .badge {
  color: #fff !important;
}
.categories_guide_item.bg-warning {
  background: #ffe69c;
}
.categories_guide_item .private {
  position: absolute;
  right: -6px;
  top: -17px;
  z-index: 2;
}
.categories_guide_item .private i.icon_lock {
  font-size: 40px;
}
.categories_guide_item.single-doc-layout-one .doc-top > img {
  width: auto;
  max-width: 50px;
  height: auto;
  max-height: 70px;
  margin: 0 15px 0 0;
}
.categories_guide_item .doc-top {
  margin-bottom: 30px;
}
.categories_guide_item a.doc_tag_title {
  text-decoration: none;
  color: #0c0d0e;
  margin-bottom: 0;
}
.categories_guide_item a.doc_tag_title .title {
  font-size: 20px;
  text-decoration: none;
  margin: 0;
}
.categories_guide_item .doc_border_btn {
  border: 1px solid rgba(76, 76, 241, 0.2);
  background: rgba(76, 76, 241, 0.05);
  border-radius: 4px;
  color: var(--ezd_brand_color);
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  padding: 6px 34px;
  transition: all 0.3s linear, color 0.2s;
  text-decoration: none !important;
}
.categories_guide_item .doc_border_btn:hover {
  box-shadow: 0 10px 20px 0 rgba(76, 76, 241, 0.2);
  background-color: var(--ezd_brand_color) !important;
  border-color: var(--ezd_brand_color);
  color: #fff;
}
.categories_guide_item .doc_border_btn:hover i {
  transform: translateX(8px);
}
.categories_guide_item .doc_border_btn i {
  margin-left: 6px;
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
  transition: all 0.2s linear, color 0s linear;
}
.categories_guide_item .article_list {
  margin-bottom: 42px;
  margin-left: 0;
  padding-left: 0;
}

a.action_btn.all_doc_btn {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  background: var(--ezd_brand_color);
  display: inline-block;
  padding: 10px 28px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.18s ease-in-out;
  text-decoration: none !important;
}
a.action_btn.all_doc_btn > i {
  vertical-align: middle;
  font-size: 18px;
  padding-left: 5px;
}
a.action_btn.all_doc_btn:hover {
  box-shadow: 0 20px 30px 0 rgba(76, 76, 241, 0.24);
}

.elementor-add-section-area-button.dlrave_templates_add_button {
  vertical-align: bottom;
  margin-left: 5px;
}

.tabs_sliders {
  position: relative;
}
.tabs_sliders ul {
  align-items: flex-start;
  flex-wrap: nowrap !important;
  display: flex;
  overflow: hidden;
  list-style: none;
  justify-content: flex-start;
}
@media screen and (max-width: 991px) {
  .tabs_sliders ul {
    overflow-x: auto;
  }
}
.tabs_sliders ul li {
  min-width: fit-content;
}
.tabs_sliders span.scroller-btn {
  position: absolute;
  left: -24px;
  top: 50%;
  color: var(--brand_color);
  font-size: 20px;
  cursor: pointer;
  transform: translateY(-50%);
}
.tabs_sliders span.right {
  right: -24px;
  left: auto;
}
.tabs_sliders span.inactive {
  display: none;
}

.ezd-tab-box {
  display: none;
}
.ezd-tab-box.active {
  display: block;
}

pre {
  background: #edf2f7;
  font-size: 0.9375rem;
  line-height: 1.6;
  max-width: 100%;
  overflow: auto;
  padding: 1.5em;
  white-space: pre-wrap;
}

.article_list {
  padding: 0 0 0 20px;
  margin: 0;
  list-style: none !important;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.article_list li {
  margin: 5px 0 0 0;
  padding: 0;
}
.article_list li ul.children {
  list-style: none;
  padding-left: 28px;
  margin: 0;
  padding-bottom: 0;
  padding-top: 10px;
}
.article_list li ul.children li a::before {
  content: "=";
  padding-right: 10px;
}
.article_list li a {
  font-size: 15px;
  color: var(--p_color);
  line-height: 22px;
  transition: color 0.2s linear;
  display: flex;
  align-items: baseline;
  text-decoration: none !important;
}
.article_list li a:before {
  content: "h";
  font-family: "ElegantIcons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  padding-right: 15px;
}
.article_list li a i {
  margin-right: 15px;
}
.article_list li a:hover {
  color: var(--ezd_brand_color);
}

.d-items {
  display: grid;
  padding-top: 25px;
  grid-template-columns: auto auto;
  gap: 40px;
}
@media (max-width: 768px) {
  .d-items {
    grid-template-columns: auto;
  }
}
.d-items .documentation_item {
  display: flex;
}
.d-items .documentation_item .icon {
  border-radius: 50%;
  background-color: var(--bs-white);
  box-shadow: 0 10px 30px 0 rgba(76, 76, 241, 0.12);
  text-align: center;
  margin-right: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  line-height: 1.4;
  width: 72px;
  height: 72px;
}
.d-items .documentation_item .icon img {
  max-width: 32px !important;
  height: auto !important;
}
.d-items .documentation_item .media-body {
  flex: 1;
  display: flex;
  align-items: center;
}
.d-items .documentation_item .media-body .title {
  font-weight: 500;
  margin: 0 0 8px;
  transition: color 0.2s linear;
  display: block;
  color: var(--black_900);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.5;
}
.d-items .documentation_item .media-body .title:hover {
  text-decoration: underline;
  text-decoration-color: var(--ezd_brand_color);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  color: var(--ezd_brand_color);
}
.d-items .documentation_item .media-body p {
  margin-bottom: 0 !important;
  font-size: 16px;
}

/** === Doc search form result === **/
.doc_banner_text .banner_search_form {
  transition: all 0.4s;
}

.doc_banner_text .banner_search_form {
  margin-top: 45px;
}

.doc_banner_text .banner_search_form {
  position: relative;
}

.eazydocs-breadcrumb-root-title li.breadcrumb-item {
  color: rgb(119, 122, 175) !important;
  background: rgb(245, 245, 250);
  width: 100%;
  padding: 5px 15px !important;
}

ol.eazydocs-search-wrapper .breadcrumb .breadcrumb-item:first-child {
  display: none;
}

.has_drop #ezd_searchInput + .spinner {
  right: 130px;
}
.has_drop #ezd_searchInput::-webkit-search-cancel-button {
  right: 130px;
  position: absolute;
}

.elementor-widget-ezd_search_form .header_search_form_info.search_form_wrap .search_submit_btn > i {
  color: #fff;
}
.elementor-widget-ezd_search_form input#ezd_searchInput {
  padding-left: 25px;
  border-radius: 5px;
  color: var(--black_800);
}
@media (min-width: 991px) {
  .elementor-widget-ezd_search_form input#ezd_searchInput {
    min-width: 450px;
  }
}
.elementor-widget-ezd_search_form input#ezd_searchInput::placeholder {
  color: var(--black_400);
}
.elementor-widget-ezd_search_form input#ezd_searchInput ~ .spinner {
  right: 60px;
}
.elementor-widget-ezd_search_form input#ezd_searchInput::-webkit-search-cancel-button {
  padding-right: 80px;
}
.elementor-widget-ezd_search_form .ezd-left input#ezd_searchInput ~ .spinner {
  right: 20px;
}
.elementor-widget-ezd_search_form .ezd-left input#ezd_searchInput::-webkit-search-cancel-button {
  padding-right: 40px;
}
.elementor-widget-ezd_search_form .ezd-left .search_submit_btn {
  left: 0;
  right: auto;
}
.elementor-widget-ezd_search_form .ezd_search_keywords {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  margin-top: 10px;
}
.elementor-widget-ezd_search_form .ezd_search_keywords span {
  font-size: 14px;
  color: #fff;
  margin-right: 10px;
}
.elementor-widget-ezd_search_form .ezd_search_keywords ul {
  margin-bottom: 0;
  margin-left: 0;
}
.elementor-widget-ezd_search_form .ezd_search_keywords ul li {
  display: inline-block;
  margin-right: 7px;
}

.header_search_form_info input[type=search] {
  padding-right: 0 !important;
  margin: 0;
}

/** Search Form End **/
/*============== recommended_topic_area css  ===========*/
.recommended_topic_inner {
  position: relative;
  z-index: 1;
  padding: 100px 0;
}
.recommended_topic_inner .recommended_item .ct-heading-text {
  margin-bottom: 25px;
}

.doc_shap_one,
.doc_round {
  position: absolute;
  z-index: -1;
}

.doc_round {
  border-radius: 50%;
}
.doc_round.one {
  width: 260px;
  height: 260px;
  background: #f9bf44;
  bottom: 120px;
  left: 120px;
}
.doc_round.two {
  background: #5e44ff;
  width: 100px;
  height: 100px;
  top: 160px;
  right: 70px;
}

.doc_shap_one {
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.doc_title {
  margin-bottom: 76px;
}
.doc_title h2 {
  font-size: 34px;
  font-weight: 700;
  color: var(--black_800);
  margin-bottom: 15px;
  margin-top: 0;
}
.doc_title p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0;
}

.recommended_item {
  border-radius: 20px;
  box-shadow: 0 30px 50px 0 rgba(2, 2, 48, 0.06);
  padding: 40px 25px 35px 35px;
  margin-bottom: 30px;
  background: #fff;
}
.recommended_item img {
  margin-bottom: 15px;
  max-width: 44px;
}
.recommended_item h3 {
  font-size: 18px;
  color: var(--black_700);
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 25px;
  margin-top: 0;
  transition: color 0.2s linear;
}
.recommended_item h3:hover {
  color: var(--ezd_brand_color);
}
.recommended_item ul {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.recommended_item ul li {
  padding-left: 20px;
  margin-left: 0;
  position: relative;
  font-size: 15px;
  line-height: 18px;
}
.recommended_item ul li:before {
  content: "5";
  font-family: eleganticons;
  position: absolute;
  left: -5px;
  width: auto;
  font-size: 18px;
  color: var(--ezd_brand_color);
  top: -2px;
}
.recommended_item ul li a {
  color: var(--p_color);
}
.recommended_item ul li a:hover {
  color: var(--ezd_brand_color);
}
.recommended_item ul li + li {
  margin-top: 20px;
}

.question_text {
  font-size: 16px;
  line-height: 24px;
  color: var(--ezd_brand_color);
  font-weight: 500;
  margin-top: 35px;
  display: inline-block;
}
.question_text:hover {
  color: var(--ezd_brand_color);
}

/* Topic List Area css
  ============================================================================================ */
.topic_list_item {
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 36px 36px 38px;
  border: 1px solid #e5eff5;
  transition: all 300ms linear 0s;
  box-shadow: 0 2px 3px rgba(3, 27, 78, 0.05);
}
.topic_list_item img {
  padding-right: 15px;
  max-width: 40px;
  height: auto;
  max-height: 40px;
}
.topic_list_item .topic-title {
  display: flex;
  justify-content: space-between;
}
.topic_list_item .topic-title h4 {
  font-size: 20px;
  margin-bottom: 25px;
  display: flex;
  width: 100%;
  margin-top: 0;
  color: #242729;
}
.topic_list_item .count {
  color: var(--p_color);
  font-size: 14px;
  font-weight: 400;
  word-break: break-all;
}
.topic_list_item ul li {
  margin-bottom: 10px;
}
.topic_list_item ul li a {
  color: var(--p_color);
  font-size: 16px;
}
.topic_list_item ul li a i {
  padding-right: 12px;
}
.topic_list_item ul li a:hover {
  color: var(--ezd_brand_color);
}
.topic_list_item ul li:last-child {
  margin-bottom: 0;
}
.topic_list_item .text_btn {
  margin-top: 36px;
  display: inline-block;
  font-size: 16px;
  gap: 5px;
  align-items: center;
  color: #1d2746;
}
.topic_list_item:hover {
  box-shadow: 0 16px 40px 0 rgba(10, 50, 102, 0.1);
  border-color: #fff;
}

.h_content_items.box-item.collapse-wrap {
  display: none;
}
.h_content_items a {
  text-decoration: none !important;
}

.h_item {
  background: #fff;
  padding: 30px 20px 22px;
  box-sizing: border-box;
  margin-bottom: 30px;
  box-shadow: 0 1px 3px rgba(29, 56, 70, 0.16);
  border-radius: 5px;
  text-align: center;
}
.h_item img {
  max-width: 38px;
  margin: auto;
  margin-bottom: 19.48px;
}
.h_item svg {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.h_item h4 {
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 13px;
  margin-top: 0;
  color: #4c4c4c;
}
.h_item h4:hover {
  color: var(--ezd_brand_color);
}
.h_item p {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.375;
  text-align: center;
  padding: 0 22.5px;
  text-transform: capitalize;
  margin-bottom: 0;
  color: #515151;
}
.h_item:hover {
  box-shadow: 0 14px 25px rgba(29, 56, 70, 0.06);
}

.more {
  margin-top: 30px;
}
.more a {
  background: #fff;
  box-shadow: 0 1px 1px rgba(29, 56, 70, 0.16);
  border-radius: 5px;
  color: #1d3846;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
  display: inline-block;
  font-size: 16px;
  padding: 0 51px;
  width: 220px;
}
.more a ion-icon {
  position: relative;
  top: 4.8px;
  margin-right: 13px;
  font-size: 20px;
}
.more a span {
  display: inline-block;
}
.more a span + span {
  display: none;
}
.more a.active span {
  display: none;
}
.more a.active span + span {
  display: inline-block;
}
.more a:hover {
  background: rgba(76, 76, 241, 0.2);
}

.docs-single-5-wrap .section5-section-title h6 {
  margin-top: 15px;
}
.docs-single-5-wrap .section5-article .docs-single5-nav-wrap {
  margin: 0 0 15px;
}
.docs-single-5-wrap .section5-article .docs-single5-nav-wrap:last-child {
  margin: 0 0 0;
}
.docs-single-5-wrap .section5-article .docs-single5-nav-wrap li {
  margin: 0;
}

.ezd-masonry-columns {
  display: flex;
  box-sizing: border-box;
  gap: 25px;
}
.ezd-masonry-columns > * {
  flex: 1;
}

@media (max-width: 881px) {
  .ezd-mobile-column {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .ezd-mobile-column {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=ezd-docs-widgets.css.map */
