/*=========== Start page_breadcrumb css ============*/
.ezd-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
}
.ezd-grid.ezd-column-1 {
  grid-template-columns: repeat(1, 1fr);
}
.ezd-grid.ezd-column-2 {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 600px) {
  .ezd-grid.ezd-column-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.ezd-grid.ezd-column-4 {
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 991px) {
  .ezd-grid.ezd-column-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .ezd-grid.ezd-column-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.ezd-grid.ezd-column-3 {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 991px) {
  .ezd-grid.ezd-column-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .ezd-grid.ezd-column-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.ezd-grid.ezd-column-5 {
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 991px) {
  .ezd-grid.ezd-column-5 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) {
  .ezd-grid.ezd-column-5 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.ezd-grid.ezd-column-6 {
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 991px) {
  .ezd-grid.ezd-column-6 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .ezd-grid.ezd-column-6 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.ezd-grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.ezd-grid-column-full,
[class^=ezd-lg-col],
[class^=ezd-md-col],
[class^=ezd-sm-col] {
  grid-column: 1/-1;
}

@media (max-width: 991px) {
  [class^=ezd-lg-col] {
    grid-column: 1/-1;
  }
}
@media (min-width: 576px) {
  .ezd-sm-col-4 {
    grid-column: span 4/span 4;
  }
  .ezd-sm-col-3 {
    grid-column: span 3/span 3;
  }
  .ezd-sm-col-5 {
    grid-column: span 5/span 5;
  }
  .ezd-sm-col-6 {
    grid-column: span 6/span 6;
  }
  .ezd-sm-col-7 {
    grid-column: span 7/span 7;
  }
  .ezd-sm-col-8 {
    grid-column: span 8/span 8;
  }
  .ezd-sm-col-9 {
    grid-column: span 9/span 9;
  }
  .ezd-sm-col-10 {
    grid-column: span 10/span 10;
  }
  .ezd-sm-col-2 {
    grid-column: span 2/span 2;
  }
  .ezd-sm-col-11 {
    grid-column: span 11/span 11;
  }
  .ezd-sm-col-12 {
    grid-column: span 12/span 12;
  }
}
@media (min-width: 768px) {
  .ezd-md-col-4 {
    grid-column: span 4/span 4;
  }
  .ezd-md-col-3 {
    grid-column: span 3/span 3;
  }
  .ezd-md-col-5 {
    grid-column: span 5/span 5;
  }
  .ezd-md-col-6 {
    grid-column: span 6/span 6;
  }
  .ezd-md-col-7 {
    grid-column: span 7/span 7;
  }
  .ezd-md-col-8 {
    grid-column: span 8/span 8;
  }
  .ezd-md-col-9 {
    grid-column: span 9/span 9;
  }
  .ezd-md-col-10 {
    grid-column: span 10/span 10;
  }
  .ezd-md-col-11 {
    grid-column: span 11/span 11;
  }
  .ezd-md-col-12 {
    grid-column: span 12/span 12;
  }
  .ezd-md-col-2 {
    grid-column: span 2/span 2;
  }
}
@media (min-width: 992px) {
  .ezd-lg-col-4 {
    grid-column: span 4/span 4;
  }
  .ezd-lg-col-3 {
    grid-column: span 3/span 3;
  }
  .ezd-lg-col-5 {
    grid-column: span 5/span 5;
  }
  .ezd-lg-col-6 {
    grid-column: span 6/span 6;
  }
  .ezd-lg-col-8 {
    grid-column: span 8/span 8;
  }
  .ezd-lg-col-7 {
    grid-column: span 7/span 7;
  }
  .ezd-lg-col-9 {
    grid-column: span 9/span 9;
  }
  .ezd-lg-col-10 {
    grid-column: span 10/span 10;
  }
  .ezd-lg-col-11 {
    grid-column: span 11/span 11;
  }
  .ezd-lg-col-12 {
    grid-column: span 12/span 12;
  }
  .ezd-lg-col-2 {
    grid-column: span 2/span 2;
  }
}
@media (min-width: 1200px) {
  .ezd-xl-col-4 {
    grid-column: span 4/span 4;
  }
  .ezd-xl-col-3 {
    grid-column: span 3/span 3;
  }
  .ezd-xl-col-5 {
    grid-column: span 5/span 5;
  }
  .ezd-xl-col-6 {
    grid-column: span 6/span 6;
  }
  .ezd-xl-col-8 {
    grid-column: span 8/span 8;
  }
  .ezd-xl-col-7 {
    grid-column: span 7/span 7;
  }
  .ezd-xl-col-9 {
    grid-column: span 9/span 9;
  }
  .ezd-xl-col-10 {
    grid-column: span 10/span 10;
  }
  .ezd-xl-col-11 {
    grid-column: span 11/span 11;
  }
  .ezd-xl-col-12 {
    grid-column: span 12/span 12;
  }
  .ezd-xl-col-2 {
    grid-column: span 2/span 2;
  }
}
.ezd-custom-container.ezd-container {
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 1300px) {
  .ezd-custom-container.ezd-container {
    max-width: 1240px;
  }
}
@media (min-width: 1500px) {
  .ezd-custom-container.ezd-container {
    max-width: 1470px;
  }
}

.ezd-container {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
@media (min-width: 1200px) {
  .ezd-container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .ezd-container {
    max-width: 960px;
  }
}

.ezd-container-fluid {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 50px;
  padding-right: 50px;
}
@media (max-width: 991px) {
  .ezd-container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.eazydocs_shortcode .ezd-container,
.ezd-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .eazydocs_shortcode .ezd-container,
  .ezd-container {
    max-width: 1200px;
  }
}

/** === Modal === **/
.ezd-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.ezd-modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: auto;
}

.ezd-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border-radius: 0.3rem;
  outline: 0;
}
.ezd-modal-content .shortcode_title .title {
  margin-bottom: 0;
}

.modal.is-visible {
  visibility: visible;
  display: block;
}

.ezd-modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

@media (min-width: 576px) {
  .ezd-modal-dialog {
    margin: 1.75rem auto;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    margin: 1.75rem auto;
  }
}
/** === Utility Classes === **/
.ezd-d-flex {
  display: flex;
}
.ezd-d-flex .ezd-col-width {
  padding-left: 15px;
  padding-right: 15px;
}
.ezd-d-flex.ezd-column-1 .ezd-col-width {
  flex: 0 0 100%;
  max-width: 100%;
}
.ezd-d-flex.ezd-column-2 .ezd-col-width {
  flex: 1;
  max-width: 50%;
}
@media (max-width: 600px) {
  .ezd-d-flex.ezd-column-2 .ezd-col-width {
    max-width: 100%;
  }
}
.ezd-d-flex.ezd-column-3 .ezd-col-width {
  flex: 1;
  max-width: 33.333333%;
}
@media (max-width: 991px) {
  .ezd-d-flex.ezd-column-3 .ezd-col-width {
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .ezd-d-flex.ezd-column-3 .ezd-col-width {
    max-width: 100%;
  }
}
.ezd-d-flex.ezd-column-4 .ezd-col-width {
  flex: 1;
  max-width: 25%;
}
@media (max-width: 991px) {
  .ezd-d-flex.ezd-column-4 .ezd-col-width {
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .ezd-d-flex.ezd-column-4 .ezd-col-width {
    max-width: 100%;
  }
}
.ezd-d-flex.ezd-column-6 .ezd-col-width {
  flex: 0 0 16.67%;
  max-width: 16.67%;
}
@media (max-width: 991px) {
  .ezd-d-flex.ezd-column-6 .ezd-col-width {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  .ezd-d-flex.ezd-column-6 .ezd-col-width {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.ezd-circle {
  border-radius: 50% !important;
}

.ezd-align-items-center {
  align-items: center;
}

.ezd-align-items-start {
  align-items: start;
}

.ezd-align-items-end {
  align-items: end;
}

.ezd-justify-content-between {
  justify-content: space-between;
}

.ezd-justify-content-center {
  justify-content: center;
}

.ezd-justify-content-start {
  justify-content: start;
}

.position-relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.ezd-shadow-lg {
  box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.175) !important;
}

.ezd-d-none {
  display: none;
}

.ezd-list-unstyled {
  list-style: none !important;
  padding-left: 0 !important;
}

.ezd-shadow-lg {
  box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.175) !important;
}

.ezd-tab-content {
  display: block;
}

/** === UI Elements === **/
.ezd-badge {
  background: rgba(175, 184, 193, 0.2);
  color: var(--black_800);
  font-size: 11px;
  padding: 3px 8px 0;
  border-radius: 3px;
  margin-right: 5px;
  display: inline-block;
  line-height: 1.45;
  vertical-align: middle;
  font-weight: 500;
  height: 20px;
  letter-spacing: 0.2px;
  margin-top: 5px;
}

.bg-dark .ezd-badge {
  color: #fff;
}

/*=========== Start page_breadcrumb css ============*/
.page_breadcrumb {
  background: var(--black_50);
  padding: 12px 0;
  position: relative;
  z-index: 1;
  margin-top: -2px;
}
.page_breadcrumb .row {
  align-items: center;
}
.page_breadcrumb .date {
  color: var(--black_500);
  float: right;
  font-size: 13px;
}
.page_breadcrumb .date i {
  padding-right: 5px;
}

/*=========== End page_breadcrumb css ============*/
/* Search Banner area
============================================================================================ */
.ezd_search_banner {
  background-color: #fafafa;
  padding-top: 120px;
  padding-bottom: 70px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}
.ezd_search_banner.no_keywords #ezd-search-results {
  top: calc(100% + 10px);
}
.ezd_search_banner.has_bg_dark {
  background-size: cover;
  background-repeat: no-repeat;
}
.ezd_search_banner.has_bg_dark .ezd_search_keywords .label {
  color: #d6d9dc;
}
.ezd_search_banner.has_bg_dark .ezd_search_keywords ul li a {
  color: #ebebeb;
  text-decoration: none;
}
.ezd_search_banner.has_bg_dark.no_cs_bg {
  background-image: url("../images/search-bg.jpeg");
}
.ezd_search_banner .input-wrapper label {
  position: absolute;
  top: 48%;
  left: -2px;
}
.ezd_search_banner .banner_shap_img li:first-child {
  top: auto;
  bottom: 0;
}
.ezd_search_banner .banner_shap_img li:last-child {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

form.ezd_search_form {
  max-width: 650px;
}
@media (max-width: 767px) {
  form.ezd_search_form {
    max-width: 80%;
  }
}
form.ezd_search_form .form-group {
  margin-bottom: 0;
  padding-bottom: 0;
}
form.ezd_search_form .form-group .input-wrapper input {
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  box-shadow: 0 1px 1px rgba(11, 80, 115, 0.3), 0 1px 5px rgba(60, 64, 67, 0.1);
  padding-right: 30px;
  margin-bottom: 0;
}
form.ezd_search_form .form-group .input-wrapper input::-webkit-search-cancel-button {
  padding-right: 28px;
}
form.ezd_search_form .form-group .input-wrapper input::-webkit-search-cancel-button:hover {
  cursor: pointer;
}
form.ezd_search_form .form-group .input-wrapper input:focus, form.ezd_search_form .form-group .input-wrapper input:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}
form.ezd_search_form .form-group .input-wrapper input:focus {
  background: #fff;
  color: #242729;
  outline: none;
}
form.ezd_search_form .form-group .input-wrapper input:focus::placeholder {
  color: var(--black_500);
}
form.ezd_search_form .form-group .input-wrapper input:focus + label i {
  color: #242729;
}
form.ezd_search_form .form-group .input-wrapper input::placeholder {
  color: #ebebeb;
  font-size: 14px;
  font-weight: 400;
}

.ezd_search_keywords {
  text-align: center;
  justify-content: center;
}
.ezd_search_keywords .label {
  color: #54595d;
  font-weight: 400;
}
.ezd_search_keywords ul li {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.ezd_search_keywords ul li a {
  background: transparent;
  padding: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  transition: all 300ms linear 0s;
  border-radius: 0;
  color: #54595d;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  display: inline;
}
.ezd_search_keywords ul li:hover a {
  border-color: rgba(255, 255, 255, 0.5);
}

/** === Doc search form result === **/
.doc_banner_text .banner_search_form {
  transition: all 0.4s;
}

.doc_banner_text .banner_search_form {
  margin-top: 45px;
}

.ezd_search_form,
.doc_banner_text .banner_search_form {
  position: relative;
}

#ezd-search-results {
  padding: 0;
  border: none;
  position: absolute;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(4, 73, 89, 0.06);
  font-size: 14px;
  font-weight: 400;
  display: none;
  transition: all 0.4s;
  z-index: 99;
  top: calc(100% - 28px);
}
#ezd-search-results a {
  text-decoration: none;
}
#ezd-search-results.ajax-search {
  display: block;
}
#ezd-search-results::before {
  content: "";
  width: 12px;
  height: 12px;
  background: #fff;
  position: absolute;
  top: -6px;
  transform: rotate(45deg);
  left: 40px;
  border-left: 1px solid #e6eeef;
  border-top: 1px solid #e6eeef;
}
#ezd-search-results .error.title {
  margin-bottom: 0;
  text-align: left;
  color: #dc3545;
  padding: 15px;
}
#ezd-search-results .doc-section {
  border-right: none;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: initial;
  margin-bottom: 5px;
}
#ezd-search-results .search-result-item {
  padding: 10px 20px;
  position: relative;
  border-bottom: 1px solid rgb(245, 245, 250);
  transition: 0.3s all;
  cursor: pointer;
}
#ezd-search-results .search-result-item.no-thumbnail .breadcrumb.eazydocs-search-wrapper, #ezd-search-results .search-result-item.no-thumbnail .doc-section {
  padding-left: 0;
}
#ezd-search-results .search-result-item a.title {
  display: flex;
  color: var(--black_700);
}
#ezd-search-results .search-result-item:last-child {
  border-bottom: none;
}
#ezd-search-results .search-result-item:hover svg.block.h-auto.w-16 {
  display: block;
}
#ezd-search-results .search-result-item:hover {
  background: var(--ezd_brand_color);
}
#ezd-search-results .search-result-item:hover .breadcrumb-item,
#ezd-search-results .search-result-item:hover a {
  color: #fff;
}
#ezd-search-results .search-result-item img,
#ezd-search-results .search-result-item svg.block.h-full.w-auto {
  position: absolute;
  top: 12px;
  margin: auto;
}
#ezd-search-results .search-result-item svg.block.h-auto.w-16 {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
}
#ezd-search-results .search-result-item .breadcrumb .breadcrumb-item a {
  display: inline-flex;
}

.eazydocs-breadcrumb-root-title li.breadcrumb-item {
  color: rgb(119, 122, 175) !important;
  background: rgb(245, 245, 250);
  width: 100%;
  padding: 5px 15px !important;
}

#ezd-search-results .breadcrumb .breadcrumb-item {
  padding-left: 0;
}

ol.eazydocs-search-wrapper .breadcrumb .breadcrumb-item:first-child {
  display: none;
}

#ezd-search-results .breadcrumb.eazydocs-search-wrapper {
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

#ezd_searchInput ~ .spinner {
  position: absolute;
  right: 27px;
  display: none;
  background: #fff;
  z-index: 999;
  bottom: 17px;
  border-width: 2px;
  width: 18px;
  height: 18px;
  vertical-align: -0.125em;
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  border: 0.25em solid rgba(0, 0, 0, 0.14);
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: 0.75s linear infinite spinner-border;
  animation: 0.75s linear infinite spinner-border;
}
.spinner-border.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}
.spinner-border .visually-hidden {
  visibility: hidden;
}

@keyframes spinner-border {
  100% {
    transform: rotate(360deg);
  }
}
.alert-danger {
  background: rgba(255, 243, 244, 0.7);
  border-color: #fbadb3;
}

.alert-success {
  background: rgba(241, 253, 243, 0.7);
  border-color: #94e3a1;
}

.has_drop #ezd_searchInput + .spinner {
  right: 130px;
}
.has_drop #ezd_searchInput::-webkit-search-cancel-button {
  right: 130px;
  position: absolute;
}

.ezd_search_form {
  margin: 10px auto 0;
}
.ezd_search_form .form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ezd_search_form .input-wrapper {
  position: relative;
  flex: 1;
}
.ezd_search_form .input-wrapper i.left-icon {
  position: absolute;
  left: 25px;
  font-size: 16px;
  color: #fff;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}
.ezd_search_form .input-wrapper input {
  background: #fff;
  border: 0;
  height: 60px;
  font-size: 16px;
  padding-left: 52px;
  width: 100%;
  border-radius: 45px;
  padding-right: 155px;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.7);
}
.ezd_search_form .input-wrapper input:hover {
  background: rgba(255, 255, 255, 0.27);
}

/** === Focust Search Form === **/
body.ezd-search-focused .focus_overlay {
  opacity: 1;
  visibility: visible;
}
body.ezd-search-focused .banner_search_form {
  position: relative;
  z-index: 999 !important;
}

body:not(.ezd-search-focused) #ezd-search-results.ajax-search {
  display: none;
}

.focus_overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  visibility: hidden;
  z-index: 99;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s linear;
  width: 100% !important;
  max-width: 100% !important;
}

.header_search_form_info {
  position: relative;
}
.header_search_form_info.search_form_wrap .search_submit_btn {
  position: absolute;
  right: 0;
  box-shadow: none !important;
  height: 100%;
  width: 50px;
  border: none;
  background: var(--ezd_brand_color);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}
.header_search_form_info.search_form_wrap .search_submit_btn > i {
  font-size: 16px;
}
.header_search_form_info.search_form_wrap .search_submit_btn > svg {
  width: auto;
  max-width: 20px;
  height: auto;
  max-height: 100%;
  min-width: 18px;
  object-fit: cover;
}

.ezd_search_keywords {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  margin-top: 15px;
}
.ezd_search_keywords span {
  font-size: 14px;
  color: #fff;
  margin-right: 15px;
}
.ezd_search_keywords ul {
  margin: 0;
  padding: 0;
}
.ezd_search_keywords ul li {
  display: inline-block;
  margin-right: 7px;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  content: "5";
  font-family: eleganticons;
  color: #b7b9be;
  padding: 0 2px;
}

.header_search_keyword {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  margin-top: 10px;
}
.header_search_keyword .search_keyword_label {
  font-size: 14px;
  margin-right: 10px;
  color: var(--black_100);
}
.header_search_keyword ul {
  margin: 0;
}
.header_search_keyword ul li {
  display: inline-block;
  margin: 0 3px 0;
}
.header_search_keyword ul li a {
  display: block;
  font-size: 13px;
  padding: 0 19px;
  border-radius: 45px;
  background: var(--ezd_brand_color);
  color: #fff;
}

.header_search_form_info input[type=search] {
  padding-right: 0 !important;
}
.header_search_form_info.search_form_wrap .form-group {
  padding-bottom: 0;
}
.header_search_form_info.search_form_wrap input[type=search] {
  height: 75px;
  background: #fff;
  border: 0;
}
.header_search_form_info.search_form_wrap input[type=search]:focus {
  outline: none;
}

.spinner.search_form_spinner {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-55%);
  display: none;
  background: #fff;
  z-index: 999;
}
.spinner.search_form_spinner > img {
  max-width: 22px;
}

body.ezd-search-focused .ezd_click_capture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 110;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s linear;
}

.page_breadcrumb {
  background: #edefec;
  padding: 12px 0;
  position: relative;
  z-index: 1;
  margin-top: -2px;
}
.page_breadcrumb .row {
  align-items: center;
}
.page_breadcrumb .date {
  color: var(--black_500);
  float: right;
  font-size: 13px;
}
.page_breadcrumb .date i {
  padding-right: 5px;
}

/*=========== End page_breadcrumb css ============*/
/* Search Banner area
============================================================================================ */
.ezd_search_banner {
  background-color: #fafafa;
  padding-top: 120px;
  padding-bottom: 70px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}
.ezd_search_banner.has_bg_dark {
  background-size: cover;
  background-repeat: no-repeat;
}
.ezd_search_banner.has_bg_dark .ezd_search_keywords .label {
  color: #d6d9dc;
}
.ezd_search_banner.has_bg_dark .ezd_search_keywords ul li a {
  color: #ebebeb;
  text-decoration: none;
}
.ezd_search_banner.has_bg_dark.no_cs_bg {
  background-image: url("../images/search-bg.jpeg");
}
.ezd_search_banner .input-wrapper label {
  position: absolute;
  top: 48%;
  left: -2px;
}
.ezd_search_banner .banner_shap_img li:first-child {
  top: auto;
  bottom: 0;
}
.ezd_search_banner .banner_shap_img li:last-child {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

.ezd_search_keywords {
  text-align: center;
  justify-content: center;
}
.ezd_search_keywords .label {
  color: #54595d;
  font-weight: 400;
}
.ezd_search_keywords ul li {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.ezd_search_keywords ul li a {
  background: transparent;
  padding: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  transition: all 300ms linear 0s;
  border-radius: 0;
  color: #54595d;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  display: inline;
}
.ezd_search_keywords ul li:hover a {
  border-color: rgba(255, 255, 255, 0.5);
}

/** === Doc search form result === **/
.doc_banner_text .banner_search_form {
  transition: all 0.4s;
}

.doc_banner_text .banner_search_form {
  margin-top: 45px;
}

.doc_banner_text .banner_search_form {
  position: relative;
}

.eazydocs-breadcrumb-root-title li.breadcrumb-item {
  color: rgb(119, 122, 175) !important;
  background: rgb(245, 245, 250);
  width: 100%;
  padding: 5px 15px !important;
}

ol.eazydocs-search-wrapper .breadcrumb .breadcrumb-item:first-child {
  display: none;
}

.has_drop #ezd_searchInput + .spinner {
  right: 130px;
}
.has_drop #ezd_searchInput::-webkit-search-cancel-button {
  right: 130px;
  position: absolute;
}

.elementor-widget-ezd_search_form input#ezd_searchInput {
  padding-left: 25px;
  border-radius: 5px;
  color: var(--black_800);
}
@media (min-width: 991px) {
  .elementor-widget-ezd_search_form input#ezd_searchInput {
    min-width: 450px;
  }
}
.elementor-widget-ezd_search_form input#ezd_searchInput::placeholder {
  color: var(--black_400);
}
.elementor-widget-ezd_search_form input#ezd_searchInput ~ .spinner {
  right: 60px;
}
.elementor-widget-ezd_search_form input#ezd_searchInput::-webkit-search-cancel-button {
  padding-right: 80px;
}
.elementor-widget-ezd_search_form .ezd-left input#ezd_searchInput ~ .spinner {
  right: 20px;
}
.elementor-widget-ezd_search_form .ezd-left input#ezd_searchInput::-webkit-search-cancel-button {
  padding-right: 40px;
}
.elementor-widget-ezd_search_form .ezd-left .search_submit_btn {
  left: 0;
  right: auto;
}
.elementor-widget-ezd_search_form .ezd_search_keywords {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  margin-top: 10px;
}
.elementor-widget-ezd_search_form .ezd_search_keywords span {
  font-size: 14px;
  color: #fff;
  margin-right: 10px;
}
.elementor-widget-ezd_search_form .ezd_search_keywords ul {
  margin-bottom: 0;
  margin-left: 0;
}
.elementor-widget-ezd_search_form .ezd_search_keywords ul li {
  display: inline-block;
  margin-right: 7px;
}

.header_search_keyword {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
  justify-content: center;
  margin-top: 10px;
}
.header_search_keyword.justify-content-end {
  justify-content: flex-end;
}
.header_search_keyword.justify-content-start {
  justify-content: flex-start;
}
.header_search_keyword span {
  font-size: 14px;
  margin-right: 10px;
}
.header_search_keyword ul {
  margin: 0;
}
.header_search_keyword ul li {
  display: inline-block;
  margin: 0 3px 0;
}
.header_search_keyword ul li a {
  display: block;
  font-size: 13px;
  padding: 0 19px;
  border-radius: 45px;
  background: var(--ezd_brand_color);
  color: #fff;
  text-decoration: none !important;
}

.header_search_form_info input[type=search] {
  padding-right: 0 !important;
  margin: 0;
}

/** Search Form End **/
/*============== recommended_topic_area css  ===========*/
.recommended_topic_inner {
  position: relative;
  z-index: 1;
  padding: 100px 0;
}
.recommended_topic_inner .recommended_item .ct-heading-text {
  margin-bottom: 25px;
}

.doc_shap_one,
.doc_round {
  position: absolute;
  z-index: -1;
}

.doc_round {
  border-radius: 50%;
}
.doc_round.one {
  width: 260px;
  height: 260px;
  background: #f9bf44;
  bottom: 120px;
  left: 120px;
}
.doc_round.two {
  background: #5e44ff;
  width: 100px;
  height: 100px;
  top: 160px;
  right: 70px;
}

.doc_shap_one {
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.doc_title {
  margin-bottom: 76px;
}
.doc_title h2 {
  font-size: 34px;
  font-weight: 700;
  color: var(--black_800);
  margin-bottom: 15px;
  margin-top: 0;
}
.doc_title p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0;
}

.recommended_item {
  border-radius: 20px;
  box-shadow: 0 30px 50px 0 rgba(2, 2, 48, 0.06);
  padding: 40px 25px 35px 35px;
  margin-bottom: 30px;
  background: #fff;
}
.recommended_item img {
  margin-bottom: 15px;
  max-width: 44px;
}
.recommended_item h3 {
  font-size: 18px;
  color: var(--black_700);
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 25px;
  margin-top: 0;
  transition: color 0.2s linear;
}
.recommended_item h3:hover {
  color: var(--ezd_brand_color);
}
.recommended_item ul {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.recommended_item ul li {
  padding-left: 20px;
  margin-left: 0;
  position: relative;
  font-size: 15px;
  line-height: 18px;
}
.recommended_item ul li:before {
  content: "5";
  font-family: eleganticons;
  position: absolute;
  left: -5px;
  width: auto;
  font-size: 18px;
  color: var(--ezd_brand_color);
  top: -2px;
}
.recommended_item ul li a {
  color: var(--p_color);
}
.recommended_item ul li a:hover {
  color: var(--ezd_brand_color);
}
.recommended_item ul li + li {
  margin-top: 20px;
}

.question_text {
  font-size: 16px;
  line-height: 24px;
  color: var(--ezd_brand_color);
  font-weight: 500;
  margin-top: 35px;
  display: inline-block;
}
.question_text:hover {
  color: var(--ezd_brand_color);
}

/*============== recommended_topic_area css  ===========*/
/* Topic List Area css
  ============================================================================================ */
.topic_list_item {
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 36px 36px 38px;
  border: 1px solid #e5eff5;
  transition: all 300ms linear 0s;
  box-shadow: 0 2px 3px rgba(3, 27, 78, 0.05);
}
.topic_list_item img {
  padding-right: 15px;
  max-width: 40px;
}
.topic_list_item .topic-title {
  display: flex;
  justify-content: space-between;
}
.topic_list_item .topic-title h4 {
  font-size: 20px;
  margin-bottom: 25px;
  display: flex;
  width: 100%;
  margin-top: 0;
  color: #242729;
}
.topic_list_item .count {
  color: var(--p_color);
  font-size: 14px;
  font-weight: 400;
  word-break: break-all;
}
.topic_list_item ul li {
  margin-bottom: 10px;
}
.topic_list_item ul li a {
  color: var(--p_color);
  font-size: 16px;
}
.topic_list_item ul li a i {
  padding-right: 12px;
}
.topic_list_item ul li a:hover {
  color: var(--ezd_brand_color);
}
.topic_list_item ul li:last-child {
  margin-bottom: 0;
}
.topic_list_item .text_btn {
  margin-top: 36px;
  display: inline-block;
  font-size: 16px;
  gap: 5px;
  align-items: center;
  color: #1d2746;
}
.topic_list_item:hover {
  box-shadow: 0 16px 40px 0 rgba(10, 50, 102, 0.1);
  border-color: #fff;
}

/* End Topic List Area css
============================================================================================ */
/* H item css
    ============================================================================================ */
.h_content_items.box-item.collapse-wrap {
  display: none;
}

.h_item {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 22px;
  margin-bottom: 30px;
  box-shadow: 0 1px 3px rgba(29, 56, 70, 0.16);
  border-radius: 5px;
  text-align: center;
}
.h_item img {
  max-width: 38px;
  margin: auto;
  margin-bottom: 19.48px;
}
.h_item svg {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.h_item h4 {
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 13px;
  margin-top: 0;
  color: #4c4c4c;
}
.h_item h4:hover {
  color: var(--ezd_brand_color);
}
.h_item p {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.375;
  text-align: center;
  padding: 0 22.5px;
  text-transform: capitalize;
  margin-bottom: 0;
  color: #515151;
}
.h_item:hover {
  box-shadow: 0 14px 25px rgba(29, 56, 70, 0.06);
}

.more {
  margin-top: 30px;
}
.more a {
  background: #fff;
  box-shadow: 0 1px 1px rgba(29, 56, 70, 0.16);
  border-radius: 5px;
  color: #1d3846;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
  display: inline-block;
  font-size: 16px;
  padding: 0 51px;
  width: 220px;
}
.more a ion-icon {
  position: relative;
  top: 4.8px;
  margin-right: 13px;
  font-size: 20px;
}
.more a span {
  display: inline-block;
}
.more a span + span {
  display: none;
}
.more a.active span {
  display: none;
}
.more a.active span + span {
  display: inline-block;
}
.more a:hover {
  background: rgba(76, 76, 241, 0.2);
}

/* End H item css
  ============================================================================================ */
.docs-single-5-wrap .section5-section-title h6 {
  margin-top: 15px;
}
.docs-single-5-wrap .section5-article .docs-single5-nav-wrap {
  margin: 0 0 15px;
}
.docs-single-5-wrap .section5-article .docs-single5-nav-wrap:last-child {
  margin: 0 0 0;
}
.docs-single-5-wrap .section5-article .docs-single5-nav-wrap li {
  margin: 0;
}

/*# sourceMappingURL=ezd-el-widgets.css.map */
