.container-fluid.pl-60 {
  padding-left: 60px;
}

.container-fluid.pr-60 {
  padding-right: 60px;
}

.eazydocs-next-prev-wrap {
  column-count: 2;
  display: flex;
  gap: 20px;
}

.eazydocs-next-prev-wrap.has_tags_next_prev {
  margin-top: 30px;
}

.eazydocs-next-prev-wrap a {
  display: block;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 12px 15px;
  border-radius: 5px;
}

.eazydocs-next-prev-wrap .next-prev-pager {
  color: #3b454e;
  font-size: 17px;
  text-decoration: none;
}

.eazydocs-next-prev-wrap .next-prev-pager span {
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: #788b9c;
  font-weight: 400;
  margin-bottom: 4px;
}

.eazydocs-next-prev-wrap .next-prev-pager.first {
  text-align: right;
  padding-left: 40px;
  position: relative;
  padding-top: 11px;
  width: 50%;
}

.eazydocs-next-prev-wrap .next-prev-pager.second {
  padding-right: 40px;
  position: relative;
  width: 50%;
}

.eazydocs-next-prev-wrap .next-prev-pager.first::before,
.eazydocs-next-prev-wrap .next-prev-pager.second::before {
  content: "#";
  display: block;
  clear: both;
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  height: 0;
  line-height: 0px;
  margin: auto;
  font-family: "ElegantIcons";
  font-size: 26px;
  color: #8899a8;
}

.eazydocs-next-prev-wrap .next-prev-pager.second::before {
  content: "$";
  left: unset;
  right: 12px;
}

.eazydocs-next-prev-wrap .next-prev-pager:hover::before,
.eazydocs-next-prev-wrap .next-prev-pager:hover {
  border-color: var(--ezd_brand_color);
  color: var(--ezd_brand_color);
}

.onepage-doc-sec .border_bottom {
  margin: 80px 0;
}

.onepage-doc-sec .doc-content h4,
.onepage-doc-sec .doc-content h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .eazydocs-next-prev-wrap {
    column-count: 1;
    display: block;
  }

  .eazydocs-next-prev-wrap .next-prev-pager.first,
.eazydocs-next-prev-wrap .next-prev-pager.second {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* Onepage */
.documentation_area_sticky {
  z-index: 99;
  background: #fff;
  left: 0;
  right: 0;
}

.documentation_area_sticky .one-page-docs-sidebar-wrap {
  background: #182530;
  color: #fff;
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;
}

.doc_documentation_area.documentation_area_sticky .doc-section .shortcode_title.doc-sec-title {
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0;
  letter-spacing: 2px;
  margin-top: 45px;
}

.doc_documentation_area.documentation_area_sticky .doc-section:first-child .shortcode_title.doc-sec-title {
  margin-top: 0;
}

.fullscreen-layout #post .onepage-doc-sec {
  padding-top: 30px;
  margin: 0;
}
.fullscreen-layout .doc_rightsidebar {
  height: 100vh;
}

.shortcode_title.depth-one {
  border-left: 5px solid var(--ezd_brand_color);
  background: rgba(214, 212, 212, 0.2);
  border-bottom: none;
  margin: 30px 0;
  padding-left: 15px;
}
.shortcode_title.depth-one h2 {
  font-size: 24px;
  margin-bottom: 19px;
  line-height: 2.5;
}

@media screen and (min-width: 991px) {
  .documentation_area_sticky .one-page-docs-sidebar-wrap {
    width: inherit;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
}
@media screen and (min-width: 768px) {
  .documentation_area_sticky.doc_documentation_area {
    padding-top: 0;
    position: absolute;
    top: 0;
    overflow-y: scroll;
    height: 100%;
  }

  .fullscreen-layout.doc_documentation_area {
    padding-top: 0 !important;
    z-index: 111;
  }
}
.documentation_area_sticky .sticky-top {
  top: 48px;
}

.documentation_area_sticky .doc_rightsidebar {
  padding-top: 32px;
}

@media screen and (max-width: 991px) {
  .admin-bar .documentation_area_sticky .doc_mobile_menu .open_icon {
    top: 32px;
  }

  .documentation_area_sticky .middle-content {
    padding-top: 0;
  }

  .documentation_area_sticky .middle-content {
    padding-top: 32px;
  }

  .admin-bar .doc_documentation_area.documentation_area_sticky .doc-section:first-child .shortcode_title.doc-sec-title {
    margin-top: 42px;
  }

  .doc_mobile_menu.left-column, .doc_documentation_full_area .doc_mobile_menu {
    max-width: 260px;
    width: 100%;
    left: -260px;
    position: absolute;
    z-index: 2;
    padding: 0;
  }

  .doc_mobile_menu .open_icon {
    display: block;
    right: -40px;
    left: auto;
  }
}
@media screen and (min-width: 767px) {
  .documentation_area_sticky .doc_rightsidebar {
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .admin-bar .documentation_area_sticky .open_icon,
.admin-bar .documentation_area_sticky .doc_mobile_menu .open_icon {
    top: 32px;
  }

  .fullscreen-layout .nav-sidebar {
    height: 100vh;
    overflow-y: scroll;
  }

  .documentation_area_sticky .one-page-docs-sidebar-wrap {
    padding: 1px;
  }
}
body.admin-bar .documentation_area_sticky .one-page-docs-sidebar-wrap {
  top: 32px;
}
body.admin-bar .doc_documentation_area.documentation_area_sticky .doc-section:first-child .shortcode_title.doc-sec-title {
  margin-top: 20px;
}
body.admin-bar .documentation_area_sticky .doc_rightsidebar {
  padding-top: 32px;
}

.documentation_area_sticky .one-page-docs-sidebar-wrap img {
  display: block;
  max-width: 200px !important;
  margin: 20px auto !important;
  height: auto !important;
  width: auto !important;
}
.documentation_area_sticky .nav-sidebar.one-page-doc-nav-wrap .nav-item .dropdown_nav {
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
.documentation_area_sticky .doc-title {
  color: var(--black__100);
  font-size: 22px;
  text-transform: none;
  margin: 25px 0 15px;
}
.documentation_area_sticky .nav-sidebar.one-page-doc-nav-wrap .nav-item {
  background: transparent;
  margin: 0;
}
.documentation_area_sticky .nav-sidebar.one-page-doc-nav-wrap .nav-item a {
  color: #fff;
  opacity: 0.7;
  font-size: 16px;
}
.documentation_area_sticky .nav-sidebar.one-page-doc-nav-wrap .nav-item a.active, .documentation_area_sticky .nav-sidebar.one-page-doc-nav-wrap .nav-item a:hover {
  color: #fff;
  opacity: 1;
}

.documentation_area_sticky .nav-sidebar .nav-item .docs-progress-bar {
  background: rgba(214, 212, 212, 0.2);
}

.documentation_area_sticky .nav-sidebar .nav-item.active > a {
  background: #2A3D4B;
  opacity: 1;
}

.documentation_area_sticky .nav-sidebar.one-page-doc-nav-wrap .nav-item .dropdown_nav .nav-item a.active {
  background: transparent;
  color: #fff;
}

.documentation_area_sticky .documentation_info {
  padding: 0 40px;
}

.documentation_area_sticky .documentation_info img {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
  margin: 10px 0;
  width: fit-content;
  max-width: 100%;
  height: auto;
}

.documentation_area_sticky .nav-sidebar.one-page-doc-nav-wrap .nav-item .dropdown_nav:before {
  display: none;
}

.documentation_area_sticky .nav-sidebar.one-page-doc-nav-wrap .nav-item .dropdown_nav .nav-item {
  padding-left: 0;
}

.documentation_area_sticky .nav-sidebar.one-page-doc-nav-wrap .nav-item .dropdown_nav .nav-item:last-child {
  margin-bottom: 15px;
}

.documentation_area_sticky .nav-item .dropdown_nav .nav-item:before {
  display: none;
}

/* Onepage Button */
.docs-twice-btn-wrapper {
  margin: 20px 0;
  column-count: 2;
  display: flex;
  gap: 7px;
}

.docs-twice-btn-wrapper a {
  display: inline-block;
  color: #fff;
  border: 3px solid #0194D7;
  background: #0194D7;
  line-height: 19px;
  padding: 12px 14px;
  letter-spacing: 0px;
  font-weight: bold;
  font-size: 13px;
  border-radius: 25px;
  text-transform: uppercase;
  text-decoration: none;
}

.docs-twice-btn-wrapper a:hover {
  background: transparent;
}

.docs-twice-btn-wrapper a:last-child {
  background: #B11D8A;
  border-color: #B11D8A;
}

.docs-twice-btn-wrapper a:last-child:hover {
  border-color: #B11D8A;
  color: #fff;
  background: transparent;
}

.open_icon#right {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  right: 0;
  left: auto;
  z-index: 9;
}

@media screen and (min-width: 768px) {
  .doc_rightsidebar.one-page-docs-right-sidebar {
    position: unset;
    right: unset;
  }

  .fullscreen-layout .doc_right_mobile_menu {
    position: fixed;
    right: 10px;
    top: 70px;
  }
}
@media screen and (max-width: 991px) {
  .fullscreen-layout.onepage_doc_area .middle-content {
    padding: 0 15px;
  }

  .fullscreen-layout.doc_documentation_area {
    position: fixed;
    overflow: auto !important;
    top: 28px;
    height: -webkit-fill-available;
    z-index: 11;
  }
}
@media screen and (max-width: 767px) {
  .admin-bar .fullscreen-layout .doc_right_mobile_menu,
.admin-bar .fullscreen-layout .doc_mobile_menu {
    top: 32px;
  }

  .fullscreen-layout .doc_right_mobile_menu,
.fullscreen-layout .doc_mobile_menu {
    top: 0;
    position: fixed !important;
    z-index: 1;
  }

  .fullscreen-layout.onepage_doc_area .middle-content {
    padding: 0 15px;
  }
}
.onepage-doc-sec figure {
  max-width: 100%;
}

@media (max-width: 670px) {
  .fullscreen-layout .doc_right_mobile_menu {
    max-width: unset;
  }
}
.fullscreen-layout.onepage_doc_area .middle-content {
  padding: 0;
}

.fullscreen-layout.onepage_doc_area .nav-sidebar.one-page-doc-nav-wrap .nav-item a {
  display: contents;
}

.fullscreen-layout.onepage_doc_area .nav-sidebar.one-page-doc-nav-wrap .nav-item {
  padding: 0 0 3px 10px;
  line-height: 47px;
}

.documentation_area_sticky .nav-sidebar.one-page-doc-nav-wrap .nav-item ul li {
  margin: 10px 0;
}

.numbering_show .nav-item ul li {
  list-style: auto;
  margin-left: 20px !important;
}

.numbering_show .nav-item {
  list-style: auto;
  list-style-position: inside;
}

.fullscreen-layout.onepage_doc_area .nav-sidebar.one-page-doc-nav-wrap .nav-item.active {
  background: #2A3D4B;
}

.fullscreen-layout.onepage_doc_area .nav-sidebar.one-page-doc-nav-wrap .nav-item.active ul {
  background: #182530;
  padding: 0 15px !important;
  left: -10px;
  width: 110% !important;
  margin-bottom: -3px;
}

.fullscreen-layout.onepage_doc_area .nav-sidebar.one-page-doc-nav-wrap .nav-item ul li.nav-item {
  line-height: 27px;
  opacity: 0.7;
}

.fullscreen-layout.onepage_doc_area .nav-sidebar.one-page-doc-nav-wrap .nav-item ul li.nav-item.active {
  background: transparent;
  opacity: 1;
}

/*# sourceMappingURL=onepage.css.map */
