/*
EazyDocs Footnotes
*/
.ezd-footnote-footer {
  column-gap: 30px;
}
.ezd-footnote-footer div {
  display: flex;
  break-inside: avoid;
  margin-bottom: 5px;
  word-break: break-all;
  position: relative;
  padding: 0;
  font-size: 14px;
  gap: 5px;
  align-items: baseline;
}
.ezd-footnote-footer div .ezd-note-indicator {
  text-decoration: none;
}
.ezd-footnote-footer div .ezd-note-indicator svg {
  position: relative;
  top: -5px;
}
.ezd-footnote-footer div.ezd-footnote-texts {
  display: block;
}
.ezd-footnote-footer div.ezd-footnote-texts b, .ezd-footnote-footer div.ezd-footnote-texts strong {
  font-weight: bold;
  font-size: 14px;
  color: #1d2746;
  padding-top: 0;
  margin-bottom: 8px;
  display: block;
}
.ezd-footnote-footer div.ezd-footnote-texts img {
  display: block;
}
.ezd-footnote-footer div .ezd-footnotes-serial {
  width: max-content;
}
.ezd-footnote-footer div .ezd-footnote-texts h2 {
  display: block;
}
.ezd-footnote-footer div .ezd-footnote-texts:first-letter {
  text-transform: capitalize;
}
.ezd-footnote-footer div:target {
  outline: none;
  color: var(--ezd_brand_color);
  margin: 0;
}
.ezd-footnote-footer div:target strong {
  color: var(--ezd_brand_color);
}
.ezd-footnote-footer div a {
  word-break: break-all;
}
.ezd-footnote-footer div a:hover {
  text-decoration-thickness: 1px;
}
.ezd-footnote-footer span {
  display: none;
}
.ezd-footnote-footer img {
  margin: 5px 0;
}
.ezd-footnote-footer.mt-30 {
  margin-top: 30px;
}
.ezd-footnote-footer.collapsed {
  display: none;
}

.ezd-footnotes-link-item {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  text-decoration: none !important;
}
.ezd-footnotes-link-item > i {
  font-style: normal;
  color: var(--ezd_brand_color);
  font-size: 14px;
  line-height: 0;
  cursor: pointer;
  position: relative;
  top: -5px;
}
.ezd-footnotes-link-item span {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 28px;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  display: inline-block;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  word-break: break-all;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  width: 300px;
  background: #fff;
  box-shadow: 0 30px 90px -20px rgba(0, 0, 0, 0.3), 0 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 0;
  transform: translate(-54%, 0%);
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: #6b707f;
  margin-bottom: 0;
  padding: 25px;
  box-sizing: border-box;
}
.ezd-footnotes-link-item span b, .ezd-footnotes-link-item span strong {
  font-weight: bold;
  font-size: 14px;
  color: #1d2746;
  padding-top: 0;
  margin-bottom: 8px;
  display: block;
}
.ezd-footnotes-link-item span img {
  margin: 10px 0;
  display: block;
}
.ezd-footnotes-link-item span::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
  transform: rotate(224deg);
  box-shadow: 1px 1px 0 rgba(110, 108, 108, 0.25);
  background: white;
  border-top-right-radius: 2px;
}
.ezd-footnotes-link-item span a {
  text-decoration: none;
  color: var(--ezd_brand_color);
}
.ezd-footnotes-link-item span a:hover {
  text-decoration: none;
}
.ezd-footnotes-link-item:hover span {
  z-index: 9;
  opacity: 1;
  transition: all 1s ease;
}
.ezd-footnotes-link-item:target i {
  border: 2px solid var(--ezd_brand_color);
  outline-offset: 0;
  letter-spacing: -0.5px;
  padding: 0 0 1px 2px;
}

.ezd-footnote-title {
  display: none;
  font-size: 20px;
  margin: 30px 0 10px;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  align-items: flex-start;
}
.ezd-footnote-title span {
  display: inline-flex;
  align-items: center;
}
.ezd-footnote-title span i {
  font-size: 31px;
  margin: 0 0 0 -8px;
}
.ezd-footnote-title span.ezd-plus-minus {
  margin-right: 6px;
}
.ezd-footnote-title.collapsed span i.icon_minus-box {
  display: none;
}
.ezd-footnote-title.collapsed span i.icon_plus-box {
  display: block;
}
.ezd-footnote-title.expanded span i.icon_minus-box {
  display: block;
}
.ezd-footnote-title.expanded span i.icon_plus-box {
  display: none;
}

/* Sign in form [ private doc ] */
.ezd-login-head {
  border: 1px solid var(--ezd_brand_color);
  border-radius: 3px;
  overflow: hidden;
  padding: 0;
  margin: 0 0 8px;
  background: #fff;
  color: black;
  line-height: normal;
}
.ezd-login-head .ezd-login-head-icon {
  background: var(--ezd_brand_color);
  display: inline-block;
  color: white;
  width: 35px;
  text-align: center;
  height: 35px;
  vertical-align: middle;
  padding-top: 5px;
  margin-right: 5px;
}
.ezd-login-head .ezd-login-head-icon .fa {
  font-size: initial;
  margin: 5px;
}

.ezd-login-form-wrap {
  text-align: center;
  background: #fff;
}
.ezd-login-form-wrap > form {
  display: grid;
}
.ezd-login-form-wrap > form input[type=text],
.ezd-login-form-wrap > form input[type=password] {
  display: block;
  border: 1px solid #c3c3c3;
  font-size: 14px;
  padding: 8px 8px;
  width: 100%;
  line-height: 16px;
  margin: 0 auto 10px;
  border-radius: 0;
}
.ezd-login-form-wrap > form input[type=text]:focus,
.ezd-login-form-wrap > form input[type=password]:focus {
  border-color: #c3c3c3;
}
.ezd-login-form-wrap > form input[type=text]:focus::placeholder,
.ezd-login-form-wrap > form input[type=password]:focus::placeholder {
  opacity: 0.5;
}
.ezd-login-form-wrap > form input[type=submit] {
  background-color: var(--ezd_brand_color);
  border: 1px solid var(--ezd_brand_color);
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 5px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 8px;
  width: 100%;
  box-shadow: none;
  cursor: pointer;
}
.ezd-login-form-wrap p {
  font-size: 18px;
  line-height: 22px;
  padding: 18px 0 0;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  color: black;
}
.ezd-login-form-wrap a {
  color: #385898;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
}
.ezd-login-form-wrap a:hover {
  text-decoration: underline;
}

.ezd-login-error {
  font-size: 14px;
  margin: 8px 0 0;
}

.ezd-login-error strong {
  color: #bc0000;
}

@media screen and (max-width: 768px) {
  .ezd_doc_login_form {
    width: 80%;
  }
  .ezd-login-form-wrap input {
    width: 90%;
  }
}
@media screen and (max-width: 580px) {
  .ezd-login-form-wrap {
    padding: 10%;
  }
  .ezd_doc_login_form {
    width: 95%;
  }
  .ezd-login-form-wrap input {
    width: 100%;
  }
}


/*# sourceMappingURL=shortcodes.css.map */
