.easydocs-tab.tab-inactive {
    display: none;
}

.accordion-title .light-green {
    display: inline-flex;
    margin: 0;
    height: auto !important;
    width: auto !important;
    padding: 3px;
    line-height: 0 !important;
}

.accordion-title .light-green.block-color-draft {
    background: rgba(66, 66, 66, 0.1);
}

.accordion-title .light-green.block-color-protected {
    background: rgba(204, 128, 51, 0.1);
}

.accordion-title .light-green.block-color-private {
    background: rgba(2, 117, 216, 0.1);
}

.accordion-title .light-green img {
    width: auto;
    max-width: 12px;
    height: auto;
    max-height: 12px;
    margin: 0;
}

.easydocs-accordion-body.child-docs a {
    text-decoration: none;
    color: rgb(87, 87, 102);
}

.easydocs-accordion-body.child-docs a::first-letter {
    text-transform: uppercase;
}

.easydocs-navitem.is-active::before {
    border-color: transparent #e5e5e5 transparent transparent !important
}

div.search_result {
    display: none;
}

.edit-img {
    max-width: 12px;
    margin-top: 2px;
}

.eazydocs-classi-ui {
    position: absolute;
    bottom: 10px;
    z-index: 9;
}

.easydocs-settings {
    display: flex;
    align-items: center;
    gap: 10px;
}

.easydocs-settings a:focus {
    outline: none;
    box-shadow: none;
}

.child-one .accordion-title.has-child h4 {
    font-weight: normal;
}

.eazydocs-no-content {
    display: block;
    text-align: center;
    margin-top: 250px
}

.eazydocs-no-content a,
.eazydocs-no-content span {
    padding: 60px 0;
    color: #777;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.4em;
}

.eazydocs-no-content a {
    color: #2271b1;
}

.eazydocs-no-content a:focus {
    outline: none;
    box-shadow: none;
}

.eazydocs-no-content img {
    width: auto;
    max-width: 50px;
    height: auto;
    margin: 0 auto 10px;
}

.clone-docs {
    line-height: 0;
    vertical-align: sub;
}

.easydocs-accordion-item a:focus,
.clone-docs:focus {
    outline: none;
    box-shadow: none;
}

.clone-docs img {
    width: auto;
    max-width: 15px;
    margin: 2.7px 7px 0;
    opacity: .7;
}

.clone-docs img:hover {
    opacity: 1
}

.eazydocs-pro-notice .dashicons,
.eazydocs-pro-notice .dashicons-admin-page:before {
    color: #f1bd6c
}

.easydocs-settings .header-notify-icon img {
    margin-top: 10px;
    margin-left: 10px;
}

.settings-pro-icon {
    position: absolute;
    right: 0;
    top: -5px;
}
.ezd-text-support {
    font-size: 16px;
    margin: 10px 0 0;
    color: #350303;
    font-weight: 400;
    display: table;
    line-height: 21px;
}
.ezd-text-support a {
    text-decoration: underline;
    font-weight: 400;
}
.notification-head {
    padding: 15px 25px !important;
    box-shadow: none !important;
}
.ez-pb-0.notification-head {
    padding: 15px 25px 0 !important;
}
.create_onepage_doc_area{
    overflow: hidden;
}
.notification-head .header-text {
    font-size: 16px !important;
}

/** Notification CSS **/
.notification-body .easydocs-filters .dashicons {
    font-size: 14px;
    color: gray;
    padding-top: 2px;
}

.notification-body .easydocs-filters .easydocs-btn.mixitup-control-active:hover .dashicons,
.notification-body .easydocs-filters .easydocs-btn.mixitup-control-active .dashicons {
    color: #1877f2;
}

.notification-body .easydocs-filters .easydocs-btn:hover .dashicons {
    color: gray;
}

.notification-item .notification-image img {
    border-radius: 50%;
    height: auto;
    width: auto;
    min-width: 40px;
    min-height: 40px;
    object-fit: contain;
}

.no-notification-text {
    color: var(--clr-text-light);
}

a.notification-item-permalink {
    text-decoration: none;
}

label[for='ezd-shortcode-edit'],
label[for='right_side_sidebar'],
.create_onepage_doc_area label[for='ezd-shortcode'] {
    margin: 20px 0 6px 0;
    display: inline-block;
    width: 99%;
    text-align: left;
    font-size: 15px;
}

.ezd_docs_content_type_wrap {
    display: block;
    text-align: left;
    margin-top: 20px;
}

.ezd_docs_content_type_wrap>label[for="ezd_docs_content_type"] {
    margin-bottom: 8px;
    display: block;
    vertical-align: baseline;
    font-size: 15px;
}

.ezd_docs_content_type_wrap>label {
    margin-right: 10px;
    vertical-align: baseline;
}

.ezd_docs_content_type_wrap>input#shortcode_right,
.ezd_docs_content_type_wrap>input#shortcode {
    margin-left: 1px;
}

select#left_side_sidebar_right,
select#ezd_docs_layout {
    width: 100%;
    max-width: 100%;
}

.ezd_docs_content_type_wrap input[type=radio] {
    border-radius: 3px;
    margin-right: 6px;
    width: 16px;
    height: 16px;
}

/* TAB CSS */
.ezd_widget_content_wrap,
.ezd_right_content,
.ezd_left_content {
    display: none;
}

#ezd_docs_layout_select,
#right_side_sidebar,
#left_side_sidebar_edit {
    max-width: 100%
}

.ezd_widget_content_wrap select {
    max-width: unset
}
.ezd_widget_content_wrap_right p,
.ezd_widget_content_wrap p{
    text-align: left;
}
.ezd_widget_content_wrap_right p:first-child,
.ezd_widget_content_wrap p:first-child{
    margin-top: 10px;
}
.ezd_left_content_active {
    display: block;
}
.ezd-doc-sidebar-intro {
    font-size: 13px;
    line-height: 1.5;
    margin-top: 10px;
    text-align: left;
}
.ezd_content_btn_wrap {
    column-count: 2;
    gap: 2px;
    background: #1919195c;
    margin-top: 15px;
}

.ezd_content_btn_wrap .left_btn_link,
.ezd_content_btn_wrap .right_btn_link {
    background: #dedede;
    color: black;
    padding: 8px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .3s all
}

.ezd_content_btn_wrap .left_btn_link.ezd_left_active,
.ezd_content_btn_wrap .right_btn_link.ezd_right_active {
    background: #7367f0;
    color: #fff;
}

.ezd_content_btn_wrap .left_btn_link:hover,
.ezd_content_btn_wrap .right_btn_link:hover {
    background: #7367f0;
    color: #fff;
}

.ezd_left_content_heading {
    background: var(--brand_color);
    padding: 10px;
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Feedback css */

.ezd-feedback-wrap .ezd-feedback-item {
    display: block;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 10px 35px 10px 15px;
    border-radius: 5px;
    position: relative;
    transition: .3s all;
    border: 1px solid #f2eded;
}

.ezd-feedback-wrap .ezd-feedback-item::before {
    content: '';
    display: block;
    clear: both;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #D83439;
    border-bottom-left-radius: 10px;
    top: 0;
    border-top-left-radius: 10px;
}

.ezd-feedback-wrap .ezd-feedback-item:hover {
    background: #f9f9f9;
}

.ezd-feedback-wrap .ezd-feedback-item h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 15px;
}

.ezd-feedback-wrap .ezd-feedback-item h2::first-letter {
    text-transform: capitalize;
}

.ezd-feedback-wrap .ezd-feedback-item h2 a {
    text-decoration: none;
    color: #2782c9;
}

.ezd-feedback-wrap .ezd-feedback-item h2 a:hover {
    color: black
}

.ezd-feedback-wrap .ezd-feedback-item .ezd-meta-mail,
.ezd-feedback-wrap .ezd-feedback-item .ezd-meta-date-time {
    font-size: 14px;
    color: black;
    font-weight: 400;
    margin: 6px 0;
    display: block;
    opacity: .8;
}

.ezd-feedback-wrap .ezd-feedback-item .ezd-meta-mail {
    opacity: 1;
}

.ezd-feedback-wrap .ezd-feedback-item span.dashicons {
    font-size: 18px;
}

.ezd-feedback-wrap .ezd-feedback-item .ezd-meta-mail span.dashicons {
    color: #0062ae;
}

.ezd-feedback-wrap .ezd-feedback-item .ezd-meta-mail a {
    text-decoration: none;
    color: black;
    opacity: .98;
}

.ezd-feedback-wrap .ezd-feedback-item p {
    font-size: 15px;
    font-weight: 400;
    color: black;
    opacity: .8;
    margin: 10px 0;
    font-style: normal;
}

.ezd-feedback-wrap .ezd-feedback-item p::first-letter {
    text-transform: uppercase;
}

.ezd-head-options-wrap {
    column-count: 2;
    display: flex;
    margin: 20px 0;
}

.ezd-head-options-wrap div {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.ezd-head-options-wrap div.ezd-head-opt-search {
    text-align: right;
}

.ezd-head-opt-btn a {
    text-decoration: none;
    font-size: 15px;
    color: #2782c9;
    min-width: 73px;
    display: inline-block;
    position: relative;
}

.ezd-head-opt-btn a.active {
    color: black;
    font-weight: 500;
}

.ezd-head-opt-btn a::after {
    content: '|';
    display: block;
    clear: both;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 0;
    font-size: 13px;
    color: gray;
}

.ezd-head-opt-btn a:last-child {
    padding-left: 15px;
}

.ezd-head-opt-btn a:last-child::after {
    display: none;
}

.ezd-head-opt-btn a span {
    color: #595555;
    font-size: 14px;
}

.ezd-feedback-btn {
    width: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.ezd-feedback-btn a {
    display: block;
    text-decoration: none;
    color: black;
    opacity: .5;
    margin-bottom: 6px;
}

.ezd-feedback-btn a:hover {
    opacity: 1;
}

.ezd-head-opt-btn a:focus,
.ezd-feedback-btn a:focus {
    outline: none;
    box-shadow: none;
}

#doc_extra_information {
     display: none;
}

/*Nestable CSS*/
.dd,
.dd-parent {
    position: relative;
    display: block;
    max-width: 100%;
    list-style: none;
    font-size: 13px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nestables-child .dd-list .dd-list {
    padding-left:0;
}

.nestables-child .dd-list .dd-list .dd-item>button{
    margin-left: 46px;
}

.nestables-child .dd-collapsed .dd-list {
    display: none;
}

.accordion-title.expand--child.has-child {
    padding-left: 0 !important;
}

.nestables-child .dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    min-height: 20px;
    font-size: 13px;
}

.easydocs-navbar .dd-placeholder {
    background: gray;
}

.nestables-child .dd-handle {
    display: block;
    width: 30px;
    height: 100%;
    margin: 0;
    padding: 5px 14px;
    line-height: 36px;
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-out;
}

.nestables-child .dd3-handle {
    position: absolute;
    left: 0;
    top: 1px;
    cursor: move;
    white-space: nowrap;
    overflow: hidden;
    background: transparent;
    border: 0;
    z-index: 9;
    display: none;
}

.easydocs-accordion-item:hover > .dd3-handle {
    display: block;
}
.nestables-child .dd-item>button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 0 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.nestables-child .dd-item>button::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 6px;
    border-color: transparent transparent transparent #575767;
    display: block;
    transform: rotate(0deg);
    left: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    top: 17px;
}

.nestables-child .dd3-have-no-children .dd3-content {
    position: relative;
}

.nestables-child .dd3-have-no-children .dd3-content::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 6px;
    border-color: transparent transparent transparent #575767;
    display: block;
    transform: rotate(0deg);
    left: 38px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    top: 17px;
}

.nestables-child .dd-item>button[data-action="collapse"]:before {
    transform: rotate(90deg);
}

.dd-placeholder, .dd-empty {
    margin: 5px 0;
    padding: 0;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px !important;
}

.dd-item-child .dd-handle.dd3-handle {
    left: 20px;
}

.child-of-child .dd-handle.dd3-handle {
    left: 40px;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 40px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-dragel>.dd-item .dd-handle {
    margin-top: 0;
}

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

.dd3-content {
    display: block;
    padding: 13px 30px 13px 55px;
    border-bottom:1px solid #edeae9;
}

.dd-dragel>.dd3-item>.dd3-content {
    margin: 0;
}

.dd-dragel>.dd3-item>.dd3-content {
    margin: 0;
}

.nestables-child .dd3-item>button {
    margin-left: 18px;
}

.dd3-empty {
    height: 1px;
}

.nestables-child .dd-item>button {
    height: 100%;
    padding: 14px 0;
    margin: 1px 7px 0 25px;
}


.dd-nochildren .dd-placeholder {
    display: none;
}

.accordion-title.has-child::before,
.accordion-title.ez-section-title::before,
.dd-collapsed .accordion-title::after {
    display: none !important;
}

.dd3-content:hover,
.dd3-content:hover>.accordion-title {
    background: #F9F9F9;
}
body.rtl,
body.rtl .ezd_docs_content_type_wrap,
body.rtl .ezd_docs_content_type_wrap>label[for="ezd_docs_content_type"],
body.rtl label[for='ezd-shortcode-edit'],body.rtl label[for='right_side_sidebar'], body.rtl .create_onepage_doc_area label[for='ezd-shortcode'],
body.rtl .ezd_content_btn_wrap .left_btn_link, body.rtl .ezd_content_btn_wrap .right_btn_link,
body.rtl h2#swal2-title,
body.rtl .docs_visibility_field_wrap,
body.rtl label[for=ezd_docs_sidebar],
body.rtl .docs_visibility_wrapper p,
body.rtl #swal2-html-container,
body.rtl .ezd-doc-sidebar-intro,
body.rtl .easydocs-card-body .easydocs-card-title,
body.rtl .easydocs-card-body .easydocs-card-value,
body.rtl .eazydocc-chartsummery .easydocs-card-body .eazy-docs-table
{
    text-align: right;
}
body.rtl .easydocs-summary .easydocs-summery-body .easydocs-summery-value{
    float: right;
}

body.rtl .swal2-actions {
    width: 100%;
    text-align: right;
    display: block !important;
    padding-right: 18px;
}
body.rtl .docs_visibility_field_wrap label,
body.rtl .ezd_docs_content_type_wrap>label {
    display: inline-block;
    margin-left: 10px;
    margin-right: 3px;
    vertical-align: text-bottom;
}
body.rtl label[for='ezd_docs_sidebar'],
body.rtl label[for="ezd_docs_content_type"] {
    width: 100%;
    display: table-cell;
    padding-bottom: 10px;
}
body.rtl .swal2-icon{
    margin-right: 22px;
}
body.rtl .notification-dropdown.easydocs-dropdown {
    width: max-content;
    left: 0;
    right: unset;
}
body.rtl .notification-dropdown.easydocs-dropdown::before{
    left: 10px;
    right: unset;
}
body.rtl .easydocs-settings .header-notify-icon img{
    margin-right: 10px;
}
body.rtl .ezd-admin-bulk-options .ezd-admin-bulk-actions a {
    align-items: center;
}
body.rtl .ezd-link-copied-wrap.copied {
    padding: 12px 45px 12px 47px;
}
body.rtl .easydocs-notification{
    margin-right: 1rem;
}
body.rtl .easydocs-settings {
    gap: 1rem;
}