.badge {
  display: inline-block;
  padding: 0.35em 0.65em 0.3em;
  font-size: .75em;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}