.easydocs-btn {
  --btn-fs: var(--fs-16);
  --btn-ff: #{$font};
  --btn-py: 0.5rem;
  --btn-px: 1.875rem;

  @include btn();

  &-sm {
    --btn-py: 0.3125rem;
  }

  &-lg {
    --btn-py: 0.625rem;
  }

  &-xl {
    --btn-py: 0.75rem;
  }

  &-none {
    --btn-radius: 0;
  }

  &-round {
    --btn-radius: 0.375rem;
  }

  &-rounded {
    --btn-radius: 1.875rem;
  }

  &-round-full {
    --btn-radius: 50%;
  }

  &-disabled {
    pointer-events: none;
    opacity: 0.65;
  }

  &-black-light {
    @include btn-color(rgba(#0D0E2B, 0.1), #0D0E2B, $border-color: transparent, $h-bg: rgba(#0D0E2B, 0.1), $h-color: #0D0E2B, $h-border-color: #0D0E2B, $f-width: 0);
  }

  &-green-light {
    @include btn-color(rgba(#2DB22D, 0.1), #2DB22D, $border-color: transparent, $h-bg: rgba(#2DB22D, 0.1), $h-color: #2DB22D, $h-border-color: #2DB22D, $f-width: 0);
  }

  &-blue-light {
    @include btn-color(rgba(#0275D8, 0.1), #0275D8, $border-color: transparent, $h-bg: rgba(#0275D8, 0.1), $h-color: #0275D8, $h-border-color: #0275D8, $f-width: 0);
  }

  &-orange-light {
    @include btn-color(rgba(#CC8033, 0.1), #CC8033, $border-color: transparent, $h-bg: rgba(#CC8033, 0.1), $h-color: #CC8033, $h-border-color: #CC8033, $f-width: 0);
  }

  &-gray-light {
    @include btn-color(rgba(#424242, 0.1), #424242, $border-color: transparent, $h-bg: rgba(#424242, 0.1), $h-color: #424242, $h-border-color: #424242, $f-width: 0);
  }

  // &-outline-black {
  //   @include btn-outline(var(--clr-black));
  // }

  &-blue {
    @include btn-color(var(--clr-blue), $f-color: #4141E6);
  }

  &-outline-blue {
    @include btn-outline(#4141E6);
  }

  &-ai-gold {
    @include btn-color(linear-gradient(to right, #FFC800, #FF964B), $color: #7D4100, $border-color: transparent, $h-bg: linear-gradient(to right, #FF964B, #FFC800), $h-color: #7D4100, $h-border-color: transparent, $f-color: #FFC800);
  }

  &-white {
    @include btn-color(var(--clr-white), $f-color: #fff);
  }

  &-outline-white {
    @include btn-outline(var(--clr-white), var(--clr-black));
  }

  &-gray {
    @include btn-color(rgba(#252733, 0.1), $color: var(--clr-dark), $h-bg: var(--clr-blue), $border-color: transparent, $h-color: var(--clr-white), $h-border-color: transparent, $f-width: 0);
  }
}