progress {
  -webkit-appearance: none;
  appearance: none;
}
progress::-webkit-progress-bar {
  background-color: #e74c3c;
}
progress::-webkit-progress-value {
  background-color: #27ae60;
}
.ez-section-title progress {
  height: 6px;
  border-radius: 32px;
  width: 100px;
}