.easydocs-accordion-item {
  progress {
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    border-radius: 32px;
    width: 100px;
    &::-webkit-progress-bar {
      background-color: #e74c3c;
    }
    &::-webkit-progress-value {
      background-color: #27ae60;
    }
  }
}